:host {
	display: flex;
	position: absolute;
	flex-direction: column;
	
	width: 100%;
	background-color: var(--color-palette-4);
	box-shadow: var(--box-shadow-items);
	
	--box-shadow-items: rgba(94, 122, 177, 0.2) 0px 2px 5px;
	margin-top: 3px;
	border-radius: 3px;
	overflow: hidden;
	
	font-size: .9em;
	
	white-space: nowrap;
}
