:host {
	display: flex;
	position: fixed;
	padding: 20px;
	
	z-index: 99;
	top: 0;
	left: 0;
	justify-content: center;
	
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	
	background-color: var(--color-palette-4);
	overflow: auto;
	
	.viewport-container {
		display: flex;
		position: relative;
		
		flex: 1 1;
		justify-content: center;
		box-sizing: border-box;
		
		max-width: var(--content-viewport-width);
	}
	
	.close-btn {
		padding: .7rem;
	}
	
	.auth-header {
		display: flex;
		position: absolute;
		padding: 10px;
		top: 0;
		
		right: 0;
		box-sizing: border-box;
	}
}
