:host{
	display: flex;
	flex-direction: column;
	flex: 1 1;
	
	overflow-y: auto;
	overflow-x: hidden;
	
	app-header{
		z-index: 5;
	}
	
	app-navbar{
		z-index: 4;
	}
	
	app-body{
		z-index: 3;
		
	}
	
	app-footer{
		z-index: 4;
	}
	
	ngx-toastr{
		z-index: 10;
	}
}
