:host{
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
	
	.___wrapper{
		display: flex;
		position: relative;
		box-sizing: border-box;
		flex: 1 1;
		flex-direction: column;
	}
	
	app-sidebar{
		z-index: 10;
	}
	
	app-header{
		z-index: 5;
	}
	
	app-navbar{
		z-index: 4;
	}
	
	app-body{
		z-index: 3;
	}
	
	app-footer{
		z-index: 4;
	}
}
