:host{
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
	max-width: 100%;
	box-sizing: border-box;
	
	.___wrapper{
		display: flex;
		position: relative;
		box-sizing: border-box;
		flex: 1 1;
		flex-direction: column;
		z-index: 10;
	}
	
	app-sidebar{
		z-index: 11;
	}
	
	app-header{
		z-index: 5;
	}
	
	app-navbar{
		z-index: 4;
	}
	
	app-body{
		z-index: 3;
	}
	
	app-footer{
		z-index: 4;
	}
	
	app-navbar-xs{
		z-index: 9;
		position: sticky;
		bottom: -1px;
	}
	
	.set-header-xs-styles{
		box-shadow: var(--box-shadow-items);
		--box-shadow-items: rgba(94, 122, 177, 0.1) 0px 2px 5px;
	}
}
