<section class="section-title"
         [@textFramesSideIn]>
	<h1 class="title">
		Development history
	</h1>
</section>

<div class="entry-content"
     [@textFramesSideIn]>
	
	<p>The founder of the concept of organic farming as a form of agriculture is considered to be the Japanese philosopher
	   Mokishi Okada (1882-1955). He believed that ecological agricultural technology should produce food that supports
	   life and improves people's health; stabilizes the biological balance in nature and is environmentally safe.</p>
	
	<p>In Europe, organic production began to gain popularity from the middle of the 20th century. The famous Austrian
	   philosopher Rudolf
	   Steiner (1861 - 1925) created the theory of anthroposophy, according to which a person should feel like a part of
	   the Universe and
	   strive to live in harmony with the world around him, maintaining a balance between the moral and the material.
	   Towards the end of his life, he
	   developed the concept of "biodynamic agriculture". Within the framework of this concept, the farmer became the
	   keeper of
	   balance - healthy animals needed to be fed by healthy plants, healthy plants depended on healthy soil, and healthy
	   soil - on healthy animals.</p>
	
	<p>The term "organic" was first used in 1940. It appeared in the book "Relying on the Land" by the British author
	   Walter Northbourne, who believed that each farm should be a single organism with a balanced and fulfilling life,
	   where living things and plants should be in harmony with each other.&nbsp;</p>
	
	<p>&nbsp;In the 1970s in France, the International Federation of Organic Agriculture Movements (IFOAM) was founded.&nbsp;
	   The aim of this
	   organization was to define the "role of organic agriculture in production, processing, distribution or consumption
	   to
	   maintain and improve the health of ecosystems and living beings from soil microorganisms to humans. &nbsp;The
	   Research Institute for Organic Agriculture (FiBL, Switzerland) was
	   founded. To this day, it remains
	   one of the world's leading research and information centers for organic agriculture.&nbsp;</p>
	
	<p>In Ukraine, the first organic farm is considered to be the private enterprise "Agroekologiya" (Poltava region),
	   which over 30 years ago, under the leadership of Antonets S.S., completely abandoned the use of herbicides,
	   pesticides, and mineral fertilizers, and switched to organic production methods.</p>
	
	<p>Chronology of the development of the organic movement in Ukraine</p>
	
	<div class="table-frame">
		<div class="table-container">
			<figure class="wp-block-table">
				<table>
					<tbody>
					<tr>
						<td><strong>Year</strong></td>
						<td class="has-text-align-center"
						    data-align="center">&nbsp;<strong>Event</strong></td>
					</tr>
					<tr>
						<td>2002</td>
						<td class="has-text-align-center"
						    data-align="center">The Association of Bioproduction Participants “BIOLan Ukraine” was founded
						</td>
					</tr>
					<tr>
						<td>2003</td>
						<td class="has-text-align-center"
						    data-align="center">The joint Ukrainian-Swiss project "Eco-Lan Ukraine" began its work. As part of the
						                        project, teachers from the Illinet State Agrarian College (Vinnytsia region) visited
						                        various European countries and learned from their colleagues' experience in the
						                        production of organic products
						</td>
					</tr>
					<tr>
						<td>2005</td>
						<td class="has-text-align-center"
						    data-align="center">the Federation of Organic Movement of Ukraine was established; Phase I of the
						                        project "Development of the Organic Market in Ukraine" was launched (until 2011)
						                        (financed by SECO, implemented by FiBL, Switzerland)
						</td>
					</tr>
					<tr>
						<td>2007</td>
						<td class="has-text-align-center"
						    data-align="center">the first Ukrainian accredited certification body "Organic Standard" was
						                        established,
						                        which
						                        conducts certification of organic production according to EU standards in Ukraine
						                        and
						                        Belarus;
							<br>the first organic products of Ukrainian production appeared on the shelves of many large supermarkets
						</td>
					</tr>
					<tr>
						<td>2009</td>
						<td class="has-text-align-center"
						    data-align="center">at the 20th International Exhibition of Organic Production BioFach, products of a
						                        Ukrainian manufacturer were presented for the first time; the First All-Ukrainian
						                        Fair of Organic Products was organized
						</td>
					</tr>
					<tr>
						<td>2010</td>
						<td class="has-text-align-center"
						    data-align="center">filling the domestic market with its own organic products has begun by establishing
						                        its own processing of organic raw materials
						</td>
					</tr>
					<tr>
						<td>2011</td>
						<td class="has-text-align-center"
						    data-align="center">The President vetoed the Law “On Organic Production” adopted by the Verkhovna Rada
						</td>
					</tr>
					<tr>
						<td>2014</td>
						<td class="has-text-align-center"
						    data-align="center">The Law "On the Production and Circulation of Organic Agricultural Products and Raw
						                        Materials" came into force;<br>for the first time, the Ukrainian pavilion was
						                        presented at the world's largest organic goods exhibition BioFach;<br>Ukraine ranked
						                        20th in the world in terms of organic food production;
						</td>
					</tr>
					<tr>
						<td>2015</td>
						<td class="has-text-align-center"
						    data-align="center">The development of the organic market has become one of the priority areas for the
						                        development of the agricultural sector of Ukraine for the first time.
						</td>
					</tr>
					<tr>
						<td>2016</td>
						<td class="has-text-align-center"
						    data-align="center">The State Logo of Ukraine for the Labeling of Organic Products was officially
						                        presented;
							<br>the Union of Producers of Certified Organic Products "Organic Ukraine" was created
						</td>
					</tr>
					<tr>
						<td>2017</td>
						<td class="has-text-align-center"
						    data-align="center">training of specialists in educational institutions has begun. The specialization
						                        "Organic Farming" has been opened at the Bila Tserkva National Agrarian University
						</td>
					</tr>
					<tr>
						<td>2018</td>
						<td class="has-text-align-center"
						    data-align="center">The European Union Technical Assistance Project "Formation of a Business Environment
						                        for Organic Berries in Cross-Border Areas of Ukraine and Belarus" has been
						                        implemented within the framework of the "Eastern Partnership Territorial Cooperation
						                        Programme Belarus-Ukraine". Its goal is to promote and develop organic berry growing
						                        and exchange experience. More details: <a href="http://beop.polessu.by/"
						                                                                  rel="noreferrer noopener"
						                                                                  target="_blank">http://beop.polessu.by/</a>
						</td>
					</tr>
					<tr>
						<td>2019</td>
						<td class="has-text-align-center"
						    data-align="center">The Cabinet of Ministers of Ukraine approved
							<a href="https://zakon.rada.gov.ua/laws/show/970-2019-%D0%BF#n10">Procedure (detailed rules) for organic
							                                                                  production and circulation of organic
							                                                                  products</a>. Ukraine now has its own
						                        certification system in accordance with national legislation. &nbsp;More details:
							<a href="https://zakon.rada.gov.ua/laws/show/970-2019-%D0%BF#n10"
							   rel="noreferrer noopener"
							   target="_blank">https://zakon.rada.gov.ua/laws/show/970-2019-%D0%BF#n10</a></td>
					</tr>
					<tr>
						<td>2020</td>
						<td class="has-text-align-center"
						    data-align="center">For the first time, the development of organic production has been identified by the
						                        Ukrainian government as one of its
						                        strategic goals. Among the tasks are: to increase the share of organic lands to
						                        3%&nbsp;
						                        of their total area and to increase the export of organic products to 1 billion USD.
						                        More details:
							<a href="https://organicinfo.ua/news/3percent-under-organic-production-2030/"
							   rel="noreferrer noopener"
							   target="_blank">https://organicinfo.ua/news/3percent-under-organic-production-2030/</a></td>
					</tr>
					</tbody>
				</table>
			</figure>
		</div>
	</div>
</div>
