<section class="section-title" [@textFramesSideIn]>
	<h1 class="title">
		Project Objective
	</h1>
	
	<p>
		Ensuring agricultural production management based on geoinformation and analytical systems, implementation of advanced technologies in the agribusiness sector, taking into account the objective factors of market economy development and enhancing the country's export potential.
	</p>
</section>

<section [@sectionCardsSlideIn]>
	<h2 >
		Opportunities
	</h2>
	
	<div class="container" [@cardsSlideIn]>
		@for (item of opportunitiesInfo; track item; let i = $index) {
			<div class="card" [@cardSlideIn]>
				<div class="img-frame">
					<img class="image"
					     [src]="'assets/home/' + (i + 1) + '.png'"
					     alt="">
				</div>
				
				<p class="card-title">
					<strong>
						{{ item.title }}
					</strong>
				</p>
				
				<p class="desc">
					{{ item.desc }}
				</p>
			</div>
		}
	</div>

</section>

<section [@textFramesSideIn]>
	<h2 id="about-people">
		Team
	</h2>
	
	<p class="mt-10">
		<strong class="name">
			Viktor Zhukovskyy
		</strong>
		<br>
		Co-founder of the project, PhD in Technical Sciences, IT specialist (ASP.NET MVC, MS SQL/MySQL, MS Azure, etc.), Associate Professor at the Department of Computer Science and Applied Mathematics at the National University of Water Management and Nature Use.
	</p>
	
	<p class="mt-10">
		<strong class="name">
			Petro Skrypchuk
		</strong>
		<br>
		Co-founder of the project, expert in organic production with 15 years of experience, Doctor of Economics, Professor, member of the Technical Committee for the Development of Standards (TC 93 UkrNDNC), Chairman of the public organization “ZIR”, Doctor of Economic Sciences in Environmental Economics, author of 220 scientific works in the fields of certification, standardization, organic production, environmental and water management.
	</p>
	
	<p class="mt-10">
		<strong class="name">
			Serhii Shatnyi
		</strong>
		<br>
		PhD in Technical Sciences, expert in machine learning and artificial intelligence
	</p>
	
	<p class="mt-10">
		<strong class="name">
			Serhii Kraichuk
		</strong>
		<br>
		PhD in Technical Sciences, Associate Professor at the Department of Economics and Business Management, IT specialist, programmer
	</p>
	
	<p class="mt-10">
		<strong class="name">
			Halyna Shpak
		</strong>
		<br>
		PhD in Economics, expert in organic production and land management
	</p>
	
	<p class="mt-10">
		<strong class="name">
			Andrii Sydor
		</strong>
		<br>
		PhD in Technical Sciences, programmer, database administrator
	</p>
	
	<p class="mt-10">
		The development involved:
		<br>
		<strong class="name">Vitalii Bessarab</strong> <br>
		<strong class="name">Artem Onyshchenko</strong> <br>
		<strong class="name">Oleksandr Kuchenets</strong> <br>
		<strong class="name">Petruk Stanislav</strong> <br>
		<strong class="name">Demchuk Yuriy</strong> <br>
		<strong class="name">Holiuk Kostyantyn</strong> <br>
	</p>
</section>
