<section class="section-title" [@textFramesSlideIn]>
	<h1 class="title">
		Мета проекту
	</h1>
	
	<p>
		Забезпечення управління аграрним виробництвом на основі геоінформаційно-аналітичних систем, впроваджені
		перспективних технологій агропромислового комплексу, врахуванні об’єктивних факторів розвитку ринкової економіки та
		нарощування експортного потенціалу держави
	</p>
</section>

<section [@sectionCardsSlideIn]>
	<h2 >
		Можливості
	</h2>
	
	<div class="container" [@cardsSlideIn]>
		@for (item of opportunitiesInfo; track item; let i = $index) {
			<div class="card" [@cardSlideIn]>
				<div class="img-frame">
					<img class="image"
					     [src]="'assets/home/' + (i + 1) + '.png'"
					     alt="">
				</div>
				
				<p class="card-title">
					<strong>
						{{ item.title }}
					</strong>
				</p>
				
				<p class="desc">
					{{ item.desc }}
				</p>
			</div>
		}
	</div>

</section>

<section [@textFramesSlideIn]>
	<h2>
		Команда
	</h2>
	
	<p class="mt-10">
		<strong class="name">
			Жуковський Віктор
		</strong>
		<br>
		Співзасновник проекту, кандидат техн. наук, ІТ спеціаліст (ASP.NET MVC, MS SQL/MySQL, MS Azure та ін.), доцент
		кафедри комп’ютерних наук та прикладної математики Національного університету водного господарства та
		природокористування
	</p>
	
	<p class="mt-10">
		<strong class="name">
			Скрипчук Петро
		</strong>
		<br>
		Співзасновник проекту, експерт у галузі органічного виробництва, досвід 15 років, д.е.н, професор, член Технічного
		комітету із розробки стандартів (ТК 93 УкрНДНЦ), голова громадської організації “ЗІР”, доктор економічних наук з
		економіки природокористування, автор 220 наукових праць у галузі сертифікації, стандартизації, органічного
		виробництва, екологічного та водогосподарського менеджменту
	</p>
	
	<p class="mt-10">
		<strong class="name">
			Шатний Сергій
		</strong>
		<br>
		канд. техн. наук, експерт з машинного навчання та штучного інтелекту
	</p>
	
	<p class="mt-10">
		<strong class="name">
			Крайчук Сергій
		</strong>
		<br>
		канд. техн. наук, доцент кафедри економіки та управління бізнесом, ІТ-спеціаліст, програміст
	</p>
	
	<p class="mt-10">
		<strong class="name">
			Шпак Галина
		</strong>
		<br>
		канд. екон. наук, експерт з органічного виробництва та землекористування
	</p>
	
	<p class="mt-10">
		<strong class="name">
			Сидор Андрій
		</strong>
		<br>
		канд. техн. наук, програміст, адміністратор баз даних
	</p>
	
	<p class="mt-10">
		До розробки долучалися:
		<br>
		<strong class="name">Бесараб Віталій</strong> <br>
		<strong class="name">Онищенко Артем</strong> <br>
		<strong class="name">Кученець Олександр</strong> <br>
		<strong class="name">Петрук Станіслав</strong> <br>
		<strong class="name">Демчук Юрій</strong> <br>
		<strong class="name">Голюк Костянтин</strong> <br>
	</p>
</section>
