:host {
	display: flex;
	line-height: 1.5em;
	flex: 1 1;
	
	flex-direction: column;
	
	text-align: justify;
	
	color: color-mix(in srgb, var(--text-color) 80%, transparent);
	
	.entry-content {
		display: flex;
		flex: 1 1;
		
		flex-direction: column;
	}
	
	.entry-content a {
		text-decoration: none;
		color: var(--link-color);
	}
	
	figure {
		display: flex;
		margin: 0 !important;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
	
	.wp-block-imag {
		max-width: 100%;
	}
	
	.wp-block-image img {
		box-sizing: border-box;
		max-width: 100%;
		height: auto;
		vertical-align: bottom;
	}
	
	figcaption {
		text-align: center;
	}
	
	.table-frame {
		display: inline-block;
		position: relative;
		
		overflow-x: auto;
		flex: 1 1;
		width: 100%;
		border-radius: 5px;
		box-sizing: border-box;
		
		.table-container {
			display: flex;
			position: relative;
			flex: 1 1;
			box-sizing: border-box;
			width: 0;
			min-width: 100%;
		}
		
		table {
			position: relative;
			box-sizing: border-box;
			
			margin: 0 0 1rem 0;
			width: 100%;
			min-width: 100px;
			background-color: var(--table-bg-color-1) !important;
			box-shadow: unset;
		}
	}
	
	
	tbody {
		display: table-row-group;
		vertical-align: middle;
		border-color: inherit;
		unicode-bidi: isolate;
	}
	
	tr {
		display: table-row;
		vertical-align: inherit;
		border-color: inherit;
		unicode-bidi: isolate;
	}
	
	.wp-block-table table {
		border-collapse: collapse;
	}
	
	table th, table td, .wp-block-table th, .wp-block-table td {
		padding: 1em;
		box-sizing: border-box;
		text-align: left;
		color: color-mix(in srgb, var(--text-color) 80%, transparent);
		border: 1px solid #e9ecef;
	}
}


