:host {
	display: flex;
	flex: 1 1;
	flex-direction: column;
	
	.container-header {
		padding: 1rem;
		border-bottom: 1px solid color-mix(in srgb, var(--text-color) 10%, transparent);
	}
	
	.container-body {
		display: flex;
		
		padding: 1rem .5rem;
		overflow: hidden;
		min-height: 150px;
		flex: 1 1 auto;
		gap: 1rem;
	}
	
	.component-title {
		display: flex;
		margin: 0;
		font-size: 1.1em;
		font-weight: 500;
		align-items: center;
		flex-direction: row;
		gap: .5rem;
	}
}
