<div class="container" [@frameSideIn4]>
	<div class="image-frame">
		<img class="card-bg"
		     [ngSrc]="'assets/my-profile/3.webp'"
		     alt=""
		     fill
		     priority>
		
		<div class="user-frame-image">
			<img [ngSrc]="'assets/logos/logo-min.png'"
			     [priority]="false"
			     alt="logo"
			     height="50"
			     width="50"
			>
		</div>
	</div>
	
	<nav class="navigation">
		<div class="links">
			<a class="link-frame"
			   [routerLinkActiveOptions]="{exact: true}"
			   [routerLinkActive]="'active'"
			   [routerLink]="'/my-profile'"
			   customRaisedButton
			   matRipple>
				
				<ngx-icon [name]="'user-rounded'"></ngx-icon>
				Особисті дані
			</a>
			
			<a class="link-frame"
			   [routerLinkActive]="'active'"
			   [routerLink]="'/my-profile/personal-companies'"
			   customRaisedButton
			   matRipple>
				<ngx-icon [name]="'flag-2'"></ngx-icon>
				Мої компанії
			</a>
			
			<a class="link-frame"
			   (click)="onLogout()"
			   customRaisedButton
			   matRipple>
				<ngx-icon [name]="'logout'"></ngx-icon>
				Вихід
			</a>
		</div>
	</nav>
</div>

<div class="content-container">
	<router-outlet></router-outlet>
</div>

