@let profileData = profileData$ | async;
@let loaderState = loaderState$ | async;

@if (loaderState?.isLoaded && !loaderState?.isError) {
	<ng-container [ngTemplateOutlet]="loaded"></ng-container>
} @else if (loaderState?.isLoaded && loaderState?.isError) {
	<ng-container [ngTemplateOutlet]="error"></ng-container>
} @else if(!loaderState?.isLoaded && !loaderState?.isError){
	<ng-container [ngTemplateOutlet]="loading"></ng-container>
}

<ng-template #loaded>
	@if (profileData?.Data) {
		<div class="container-body"
		     [@frameSideIn4]>
			
			<div class="desc">
				<div class="desc-data">
					<ngx-icon [name]="'text-square-2'"></ngx-icon>
					<span>Office ID: #{{ profileData?.Data?.Id }}</span>
				</div>
				
				<div class="desc-data">
					<ngx-icon [name]="'clock-circle'"></ngx-icon>
					<span class="clipboard-text-container fx-row allow-wrap">
					<span>Account created:</span>
					<clipboard-text-container [isEnableCopyIcon]="true"
					                          class="enable-bg"
					                          [text]="profileData?.Data?.CreatedDate  ?? ''">
								<span>
									{{ profileData?.Data?.CreatedDate | datetime | date: 'dd.MM.yyyy HH:mm' }}
								</span>
					</clipboard-text-container>
				</span>
				</div>
				
				<div class="desc-data">
					<ngx-icon [name]="'phone-calling'"></ngx-icon>
					<span class="clipboard-text-container fx-row allow-wrap">
					<span>Phone number:</span>
					<clipboard-text-container [isEnableCopyIcon]="true"
					                          class="enable-bg"
					                          [text]="profileData?.Data?.Phone ?? ''">
								<span>
									{{ profileData?.Data?.Phone }}
								</span>
					</clipboard-text-container>
				</span>
				</div>
				
				<button (click)="onRestorePassword(profileData?.Data?.Phone ?? '')"
				        class="desc-data desc-link"
				        customBasicLink>
					<ngx-icon [name]="'key'"></ngx-icon>
					Recover password
				</button>
			</div>
			
			<form action=""
			      (ngSubmit)="onSubmit(profileData?.Data?.Id)"
			      [formGroup]="formGroup"
			      class="form-data">
				<ngx-grid [cellSize]="'min(100%, 400px, 90vw)'">
					<custom-input-field>
						<ngx-icon [name]="'text-square-2'"
						          [ratio]="'1em'"></ngx-icon>
						<label for="name">Name</label>
						
						<input id="name"
						       [formControlName]="'FirstName'"
						       autocomplete="on"
						       customInput
						       type="text">
					</custom-input-field>
					
					<custom-input-field>
						<ngx-icon [name]="'text-square-2'"
						          [ratio]="'1em'"></ngx-icon>
						<label for="lastname">Last name</label>
						
						<input id="lastname"
						       [formControlName]="'LastName'"
						       autocomplete="on"
						       customInput
						       type="text">
					</custom-input-field>
					
					<custom-input-field>
						<ngx-icon [name]="'text-square-2'"
						          [ratio]="'1em'"></ngx-icon>
						<label for="secondName">Middle name</label>
						
						<input id="secondName"
						       [formControlName]="'MiddleName'"
						       autocomplete="on"
						       customInput
						       type="text">
					</custom-input-field>
				</ngx-grid>
				
				<button class="btn submit-btn"
				        [type]="'submit'"
				        [ngClass]="!formGroup.dirty || !formGroup.valid ? 'disabled' : ''"
				        customBasicButton
				        matRipple>
					<ngx-icon [name]="'pen-new-square'"
					          [ratio]="'1em'"></ngx-icon>
					<span>Save changes</span>
				</button>
			</form>
		</div>
	}
</ng-template>

<ng-template #error>
	<error-loading-page>
		<refresh-button (click)="onReloadPage()"></refresh-button>
	</error-loading-page>
</ng-template>

<ng-template #loading>
	<dots-loadbar class="loader disabled-bg"></dots-loadbar>
</ng-template>
