<form class="form-data"
      (ngSubmit)="onSubmit()"
      [formGroup]="loginFg">
	<div class="page-title">
		<app-auth-logo></app-auth-logo>
		<h2>
			Вхід до акаунту
		</h2>
	</div>
	
	<div class="fields">
		<custom-input-field>
			<ngx-icon [name]="'phone-calling-rounded'"
			          [ratio]="'1em'"></ngx-icon>
			<label for="phone">Номер телефону</label>
			
			<input id="phone"
			       [formControlName]="'phone'"
			       autocomplete="on"
			       customInput
			       type="text">
		</custom-input-field>
		
		<custom-input-field>
			<ngx-icon [name]="'lock-password-unlocked'"
			          [ratio]="'1em'"></ngx-icon>
			<label for="password">Пароль</label>
			
			<div customInputSuffix>
				<div class="input-suffix"
				     [matRippleColor]="'var(--mat-ripple-suffix-color)'"
				     customInputSuffix
				     matRipple>
					<ngx-icon [name]="'eye'"
					          [ratio]="'1em'"></ngx-icon>
				</div>
			</div>
			
			<input id="password"
			       [formControlName]="'password'"
			       autocomplete="off"
			       customInput
			       type="text">
		</custom-input-field>
		
		<div class="info">
			<a customBasicLink
			   href="">
				<ngx-icon [name]="'paperclip-2'"
				          [ratio]="'1em'"></ngx-icon>
				
				Не вдається увійти?
			</a>
		</div>
	</div>
	
	<button class="btn submit-btn"
	        [type]="'submit'"
	        customBasicButton
	        matRipple>
		<ngx-icon [name]="'login-3'"
		          [ratio]="'1.3em'"></ngx-icon>
		<span>Увійти</span>
	</button>
</form>

<span class="mark">
	або
</span>

<a class="btn submit-btn link"
   [routerLink]="'/auth/registration'"
   [type]="'submit'"
   customRaisedButton
   matRipple>
	<ngx-icon [name]="'passport-minimalistic'"
	          [ratio]="'1.3em'"></ngx-icon>
	<span>Зареєструватися</span>
</a>
