@let isValidCompanyId = isValidCompanyId$ | async;
@let loaderState = loaderState$ | async;
@let companyData = companyData$ | async;

@if (isValidCompanyId) {
	<ng-container [ngTemplateOutlet]="validCompanyId"></ng-container>
} @else {
	<ng-container [ngTemplateOutlet]="invalidCompanyId"></ng-container>
}

<ng-template #invalidCompanyId>
	<error-loading-page
					[message]="'Не вдалося отримати дані. \n Вказано некоректний ідентифікатор компанії'"></error-loading-page>
</ng-template>

<ng-template #validCompanyId>
	@if (loaderState?.isError && loaderState?.isLoaded) {
		<ng-container [ngTemplateOutlet]="error"></ng-container>
	} @else if (loaderState?.isLoaded && !loaderState?.isError) {
		<ng-container [ngTemplateOutlet]="loaded"></ng-container>
	} @else {
		<ng-container [ngTemplateOutlet]="loading"></ng-container>
	}
</ng-template>
<ng-template #loading>
	<dots-loadbar class="loader disabled-bg"
	              [@frameSideInOut2]></dots-loadbar>
</ng-template>

<ng-template #error>
	<error-loading-page>
		<refresh-button (click)="onRefreshData()"></refresh-button>
	</error-loading-page>
</ng-template>

<ng-template #loaded>
	@let updateContentLoaderState = updateContentLoaderState$ | async;
	
	@if (companyData) {
		<div class="container-header">
			<a class="btn back-btn"
			   (click)="onGoToBack()"
			   [isRounded]="true"
			   customRaisedButton
			   matRipple>
				<ngx-icon [name]="'alt-arrow-left'"
				          [ratio]="'1em'"></ngx-icon>
				<span>Назад</span>
			</a>
		</div>
		
		<form class="form"
		      (ngSubmit)="onSubmit(companyData.Id)"
		      [formGroup]="form"
		      [@containerAnimation]
		      action="">
			<!-- MAIN INFO SECTION -->
			<div [@frameSideInOut4]
			     class="set-gap-1 fx-col">
				<div class="set-gap-05 fx-row">
					<h3 class="component-title">
						<ngx-icon [name]="'document-add'"
						          [ratio]="'1em'"></ngx-icon>
						<span>
					Загальна інформація про компанію
					<span class="red-checkmark">*</span>
				</span>
					</h3>
				</div>
				
				<div class="basic-area-fields set-gap-05 fx-row">
					<custom-input-field>
						<ngx-icon [name]="'text-square-2'"
						          [ratio]="'1em'"></ngx-icon>
						<label for="name">Назва установи</label>
						
						<textarea id="name"
						          [formControlName]="'Name'"
						          autocomplete="on"
						          customInput
						          type="text"></textarea>
					</custom-input-field>
					
					<custom-input-field>
						<ngx-icon [name]="'text-square-2'"
						          [ratio]="'1em'"></ngx-icon>
						<label for="registration-number">Номер в Держ. реєстрі</label>
						
						<textarea id="registration-number"
						          [formControlName]="'RegistrationNumber'"
						          autocomplete="on"
						          customInput
						          type="text"></textarea>
					</custom-input-field>
				</div>
				
				<div class="set-gap-05 fx-row">
					<custom-dropdown-field [control]="form.get('LegalType')!">
						<ngx-icon [name]="'pin-list'"
						          [ratio]="'1em'"></ngx-icon>
						
						<label>Юридичний статус</label>
						
						<custom-selection-menu>
							@for (item of legalTypeList; track item) {
								<custom-selection-option [value]="item.value"
								                         [isSelected]="form.get('LegalType')?.value === item.value">
									<ngx-icon [name]="item.icon"
									          [ratio]="'1em'"></ngx-icon>
									{{ item.name }}
								</custom-selection-option>
							}
						</custom-selection-menu>
					</custom-dropdown-field>
					
					<custom-input-field>
						<ngx-icon [name]="'text-square-2'"
						          [ratio]="'1em'"></ngx-icon>
						<label for="establishment-date">Дата заснування</label>
						
						<input id="establishment-date"
						       [formControlName]="'EstablishmentDate'"
						       autocomplete="on"
						       customInput
						       type="date">
					</custom-input-field>
				</div>
			</div>
			<!-- /* END OF SECTION MAIN INFO */ -->
			
			<!-- DESCRIPTION SECTION -->
			<div [@frameSideInOut4]
			     class="set-gap-1 fx-col">
				<div class="set-gap-05 fx-row">
					<h3 class="component-title">
						<ngx-icon [name]="'danger'"
						          [ratio]="'1em'"></ngx-icon>
						<span>
					Деталі та опис
					<span class="red-checkmark">*</span>
				</span>
					</h3>
				</div>
				
				<div class="set-gap-05 fx-row">
					<custom-input-field>
						<ngx-icon [name]="'text-square-2'"
						          [ratio]="'1em'"></ngx-icon>
						<label for="description">Опис</label>
						
						<textarea id="description"
						          [formControlName]="'Description'"
						          autocomplete="on"
						          customInput
						          type="text">
			
		</textarea>
					</custom-input-field>
					
					<custom-input-field>
						<ngx-icon [name]="'text-square-2'"
						          [ratio]="'1em'"></ngx-icon>
						<label for="address">Адреса установи</label>
						
						<textarea id="address"
						          [formControlName]="'Address'"
						          autocomplete="on"
						          customInput
						          type="text">
			
		</textarea>
					</custom-input-field>
				</div>
			</div>
			<!-- /* END OF SECTION DESCRIPTION  */ -->
			
			<!-- CONTACTS SECTION -->
			<div [@frameSideInOut4]
			     class="set-gap-1 fx-col">
				<div class="set-gap-05 fx-row">
					<h3 class="component-title">
						<ngx-icon [name]="'phone-calling-rounded'"
						          [ratio]="'1em'"></ngx-icon>
						<span>
					Контактні відомості установи
					<span class="red-checkmark">*</span>
						</span>
					</h3>
					
					@if (!companyData.isArchivated) {
						<button (click)="onAddContactToForm()"
						        [isRounded]="true"
						        [type]="'button'"
						        customRaisedButton
						        matRipple>
							<ngx-icon [name]="'pen'"
							          [ratio]="'1em'"></ngx-icon>
							<span>Додати ще</span>
						</button>
					}
				</div>
				
				<div class="set-gap-05 fx-col contact-list"
				     [formArrayName]="'ContactList'">
					@for (item of onGetContactListControls(); track idx; let idx = $index) {
						<div class="set-gap-05 fx-row contact-item"
						     [formGroupName]="idx">
							<custom-dropdown-field [control]="onGetFormControlByName(item, 'Type')">
								<ngx-icon [name]="'pin-list'"
								          [ratio]="'1em'"></ngx-icon>
								
								<label>Тип контакту</label>
								
								<custom-selection-menu>
									@for (item2 of allowedContactTypes; track item2) {
										<custom-selection-option [value]="item2.value"
										                         [isSelected]="onGetFormControlByName(item, 'Type').value === item2.value">
											<ngx-icon [name]="item2.icon"
											          [ratio]="'1em'"></ngx-icon>
											{{ item2.name }}
										</custom-selection-option>
									}
								</custom-selection-menu>
							</custom-dropdown-field>
							
							<custom-input-field>
								<ngx-icon [name]="'phone-calling'"
								          [ratio]="'1em'"></ngx-icon>
								<label [for]="'contact-' + idx">Номер телефону</label>
								
								<input [id]="'contact-' + idx"
								       [formControlName]="'Contact'"
								       autocomplete="off"
								       customInput
								       type="text">
							</custom-input-field>
							
							@if (!companyData.isArchivated) {
								<button customRaisedButton
								        (click)="onRemoveContactFromForm(idx)"
								        class="ratio-1-1 drop-field-btn"
								        [matTooltip]="'Видалити'"
								        [type]="'button'"
								        [isRounded]="true"
								        matRipple>
									<ngx-icon [name]="'trash-bin-2'"
									          [ratio]="'1em'"></ngx-icon>
								</button>
							}
						</div>
					}
				</div>
			</div>
			<!-- /* END OF SECTION CONTACTS  */ -->
			
			<!-- CATEGORIES SECTION	 -->
			<div [@frameSideInOut4]
			     class="set-gap-1 fx-col">
				<div class="set-gap-05 fx-row">
					<h3 class="component-title">
						<ngx-icon [name]="'palette-round'"
						          [ratio]="'1em'"></ngx-icon>
						Категорії аграрної діяльності
					</h3>
				</div>
				
				<div class="fx-col set-gap-05">
					@for (item of typeOfInteractivityValues; track item) {
						<button class="fx-row selection-row"
						        [type]="'button'"
						        (click)="!companyData.isArchivated ? onSelectInteractivity(item) : ''">
							<ng-checkbox [isAutoChangeValue]="false"
							             [control]="item.control"></ng-checkbox>
							<span>{{ item.name }}</span>
						</button>
					}
				</div>
			</div>
			<!-- /* END OF SECTION CATEGORIES */ -->
			
			<div [@frameSideInOut4]
			     class="set-gap-05 fx-row">
				@if (!companyData.isArchivated) {
					<button
									[type]="'submit'"
									customBasicButton>
						<ngx-icon [name]="'verified-check'"></ngx-icon>
						Зберегти
					</button>
				}
			</div>
		</form>
	} @else {
		<error-loading-page
						[message]="'Відсутні дані для перегляду'"></error-loading-page>
	}
	
	@if (!updateContentLoaderState?.isLoaded) {
		<dots-loadbar class="loader disabled-bg"
		              [@frameSideInOut2]></dots-loadbar>
	}
</ng-template>
