<section class="section-title"
         [@textFramesSideIn]>
	<h1 class="title">
		Історія розвитку
	</h1>
</section>

<div class="entry-content"
     [@textFramesSideIn]>
	
	<p>Засновником концепції органічного землеробства як однієї з форм ведення сільського господарства, вважають
	   японського філософа Мокіші Окада (1882-1955 рр.). Він вважав, що екологічна агротехнологія повинна виробляти
	   продукти харчування, які підтримують життєдіяльність і поліпшують здоров’я людей; стабілізують біологічну рівновагу
	   в природі та є екологічно безпечною.</p>
	
	<p>У Європі органічне виробництво почало набирати популярності із середини 20 ст. Відомий австрійський філософ Рудольф
	   Штейнер (1861 – 1925 рр.) створив теорію антропософії, згідно якої людина повинна відчувати себе часткою Всесвіту і
	   прагнути жити в гармонії з оточуючим світом, підтримуючи баланс між моральним і матеріальним. Наприкінці життя він
	   розробив концепцію „біодинамічного сільського господарства”. У рамках цієї концепції селянин ставав хранителем
	   балансу – здорові тварини потребували харчування здоровими рослинами, здорові рослини залежали від здорового
	   ґрунту, а здоровий ґрунт – від здорових тварин.</p>
	
	<p>У 1940 р. вперше використано термін „органічний”. Він з’явився в книзі британця Вальтера Норзборна „Покладатися на
	   землю”, який вважав, що кожна ферма має бути єдиним організмом зі збалансованим і повноцінним життям, де живі
	   істоти і рослини повинні знаходитись у гармонії між собою.&nbsp;</p>
	
	<p>&nbsp;В 70-х роках у Франції, була заснована – Міжнародна Федерація Органічного Руху (IFOAM).&nbsp; Метою цієї
	   організації стало визначення „ролі органічної агрокультури у виробництві, переробці, розподілі чи споживанні для
	   підтримання і поліпшення здоров’я екосистем і живих істот від мікроорганізмів ґрунту до людини. &nbsp;Було
	   засновано Дослідний інститут органічного сільського господарства (FiBL, Швейцарія. До цього часу, він залишається
	   одним із провідних світових науково-дослідних та інформаційних центрів для органічного сільського господарства.&nbsp;</p>
	
	<p>В Україні першим органічним господарством вважається ПП „Агроекологія” (Полтавська область), яке понад 30 років
	   тому, під керівництвом Антонця С.С., повністю відмовилося від застосування гербіцидів, пестицидів, мінеральних
	   добрив, перейшло на органічні методи виробництва.</p>
	
	<p>Хронологія розвитку органічного руху в Україні</p>
	
	<div class="table-frame">
		<div class="table-container">
			<figure class="wp-block-table">
				<table>
					<tbody>
					<tr>
						<td><strong>Рік</strong></td>
						<td class="has-text-align-center"
						    data-align="center">&nbsp;<strong>Подія</strong></td>
					</tr>
					<tr>
						<td>2002</td>
						<td class="has-text-align-center"
						    data-align="center">засновано Асоціацію учасників біовиробництва „БІОЛан Україна”
						</td>
					</tr>
					<tr>
						<td>2003</td>
						<td class="has-text-align-center"
						    data-align="center">розпочав роботу спільний українсько-швейцарський проект „Еко-Лан Україна”. В рамках
						                        проекту викладачі Іллінецького державного аграрного коледжу (Вінницька обл.)
						                        відвідували
						                        різні країни Європи та переймали досвід колег з виробництва органічних продуктів
						</td>
					</tr>
					<tr>
						<td>2005</td>
						<td class="has-text-align-center"
						    data-align="center">створена Федерація органічного руху України; <br>стартувала І фаза проекту «Розвиток
						                        органічного ринку в Україні» (до 2011 р.) (фінансування SECO, впровадження FiBL,
						                        Швейцарія)
						</td>
					</tr>
					<tr>
						<td>2007</td>
						<td class="has-text-align-center"
						    data-align="center">створено перший український акредитований сертифікаційний орган „Органік стандарт”,
						                        який
						                        проводить сертифікацію органічного виробництва за стандартами ЄС в Україні та
						                        Білорусі;
							<br>на полицях багатьох великих супермаркетів з’явилась перша органічна продукція українського виробництва
						</td>
					</tr>
					<tr>
						<td>2009</td>
						<td class="has-text-align-center"
						    data-align="center">на 20-й Міжнародній виставці органічного виробництва BioFach вперше була
						                        представлена
						                        продукція українського виробника; <br>організовано Перший Всеукраїнський Ярмарок
						                        органічних продуктів
						</td>
					</tr>
					<tr>
						<td>2010</td>
						<td class="has-text-align-center"
						    data-align="center">почалося наповнення внутрішнього ринку власною органічною продукцією за рахунок
						                        налагодження власної переробки органічної сировини
						</td>
					</tr>
					<tr>
						<td>2011</td>
						<td class="has-text-align-center"
						    data-align="center">Президент ветував прийнятий Верховною Радою Закон „Про органічне виробництво”
						</td>
					</tr>
					<tr>
						<td>2014</td>
						<td class="has-text-align-center"
						    data-align="center">набрав чинності Закон „Про виробництво та обіг органічної сільськогосподарської
						                        продукції та сировини”;<br>вперше на найбільшій виставці органічних товарів у світі
						                        БіоФах (BioFach) представлений український павільйон; <br>Україна посіла 20-те місце
						                        у
						                        світі за обсягами виробництва органічних продуктів харчування;
						</td>
					</tr>
					<tr>
						<td>2015</td>
						<td class="has-text-align-center"
						    data-align="center">розвиток органічного ринку вперше став одним із пріоритетних напрямків розвитку
						                        агропомислового сектору України&nbsp;
						</td>
					</tr>
					<tr>
						<td>2016</td>
						<td class="has-text-align-center"
						    data-align="center">офіційно презентовано Державний логотип України для маркування органічних продуктів;
							<br>створена спілка виробників сертифікованих органічних продуктів „Органічна Україна”
						</td>
					</tr>
					<tr>
						<td>2017</td>
						<td class="has-text-align-center"
						    data-align="center">розпочалася підготовка фахівців в закладах освіти. В Білоцерківському національному
						                        аграрному університеті&nbsp; відкрита спеціалізація „Органічне землеробство”
						</td>
					</tr>
					<tr>
						<td>2018</td>
						<td class="has-text-align-center"
						    data-align="center">Реалізовано Проект технічної допомоги Європейського Союзу „Формування
						                        підприємницького
						                        середовища з виробництва органічних ягід в транскордонних районах України і
						                        Білорусі” в
						                        рамках дії „Програми територіального співробітництва Східного партнерства
						                        Білорусь-Україна”. Його метою є популяризація та розвиток органічного ягідництва,
						                        обмін
						                        досвідом. Детальніше : <a href="http://beop.polessu.by/"
						                                                  rel="noreferrer noopener"
						                                                  target="_blank">http://beop.polessu.by/</a></td>
					</tr>
					<tr>
						<td>2019</td>
						<td class="has-text-align-center"
						    data-align="center">Кабінет міністрів України затвердив
							<a href="https://zakon.rada.gov.ua/laws/show/970-2019-%D0%BF#n10">Порядок (детальні правила) органічного
							                                                                  виробництва та обігу органічної
							                                                                  продукції</a>. Тепер Україна має власну
						                        систему сертифікації відповідно до національного законодавства. &nbsp;Детальніше :
							<a href="https://zakon.rada.gov.ua/laws/show/970-2019-%D0%BF#n10"
							   rel="noreferrer noopener"
							   target="_blank">https://zakon.rada.gov.ua/laws/show/970-2019-%D0%BF#n10</a></td>
					</tr>
					<tr>
						<td>2020</td>
						<td class="has-text-align-center"
						    data-align="center">Вперше розвиток органічного виробництва визначено урядом України, як одну зі
						                        стратегічних цілей. Серед завдань зазначено: збільшити частку органічних земель до
						                        3%&nbsp;
						                        від їх загальної площі та збільшити експорт органічної продукції до 1 млрд. дол.
						                        США.
						                        Детальніше :&nbsp;
							<a href="https://organicinfo.ua/news/3percent-under-organic-production-2030/"
							   rel="noreferrer noopener"
							   target="_blank">https://organicinfo.ua/news/3percent-under-organic-production-2030/</a></td>
					</tr>
					</tbody>
				</table>
			</figure>
		
		</div>
	</div>
</div>
