:host {
	display: flex;
	position: sticky;
	top: -1px;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	background-color: var(--color-palette-3);
	
	box-shadow: var(--box-shadow-items);
	--box-shadow-items: rgba(94, 122, 177, 0.2) 0px 2px 5px;
	--header-trigger-link-color: #f3f3f3;
	padding-inline: 10px;
	
	.space-between-items{
		justify-content: space-between !important;
		gap: .5rem;
	}
	
	.fx-end-items{
		justify-content: flex-end !important;
		gap: .5rem;
	}
	
	login-button {
		position: absolute;
		right: 0;
	}
	
	.nav-container {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		gap: 1rem;
	}
	
	.header-link {
		display: flex;
		font-size: .95em;
		
		align-items: center;
		
		flex-direction: row;
		justify-content: center;
		box-sizing: border-box;
		height: 100%;
		cursor: pointer;
		
		user-select: none;
		transition: color .2s ease;
		
		text-decoration: none;
		
		color: var(--color-text);
		border: none;
		
		background-color: unset;
		gap: .2rem;
		
		ngx-icon {
			transition: transform .2s ease;
		}
		
		.icon-menu-opened {
			transform: rotate(-90deg) !important;
		}
	}
	
	.top-level-items {
		&:has(.header-child-link.active) {
			button.header-link, a.header-link {
				color: var(--header-trigger-link-color);
				background-color: color-mix(in srgb, var(--white) 5%, transparent);
				
				.solar-outline {
					--ngx-icon-override-color-1: var(--header-trigger-link-color);
				}
				
				&::after {
					border-bottom: 3px solid var(--white);
				}
			}
		}
	}
	
	.title {
		margin: 0;
		font-size: 1em;
		font-weight: 500;
	}
	
	.desc {
		font-size: .8em;
	}
	
	.navigation {
		display: flex;
		width: 100%;
		justify-content: flex-start;
	
		ul{
			display: flex;
			width: 100%;
			justify-content: flex-start;
		}
		
		ul, li {
			padding: 0;
			margin: 0;
			list-style: none;
		}
		
		li {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		> ul {
			display: flex;
			flex-direction: row;
			
			ul {
				display: none;
			}
		}
	}
	
	.nav-container {
		display: flex;
		flex: 1 1;
		justify-content: space-between;
		max-width: var(--content-viewport-width);
		height: calc(var(--header-height) - 14px);
	}
	
	nav {
		.header-link, a {
			position: relative;
			padding: 1.2rem 1.2rem;
			transition: border .2s ease, color .2s, background-color .2s ease;
			
			color: var(--white);
			
			.solar-outline {
				--ngx-icon-override-color-1: var(--white);
			}
			
			&::after {
				position: absolute;
				
				bottom: 0;
				left: 0;
				
				width: 100%;
				content: "";
				transition: border .2s ease;
				
				border-bottom: 3px solid transparent;
				will-change: border;
			}
			
			&:hover, &.active {
				color: var(--header-trigger-link-color);
				background-color: color-mix(in srgb, var(--white) 5%, transparent);
				
				.solar-outline {
					--ngx-icon-override-color-1: var(--header-trigger-link-color);
				}
				
				&::after {
					border-bottom: 3px solid var(--white);
				}
			}
			
			&.active {
				background-color: color-mix(in srgb, var(--white) 5%, transparent);
			}
		}
	}
}

.menu-container {
	display: flex;
	position: absolute;
	flex-direction: column;
	
	background-color: var(--white);
	box-shadow: var(--box-shadow-items);
	gap: 5px;
	border-radius: 0 0 3px 3px;
	--box-shadow-items: rgba(94, 122, 177, 0.2) 0px 2px 5px;
	
	.header-child-link {
		display: flex;
		
		padding: 1rem;
		font-size: .95em;
		
		align-items: center;
		flex-direction: row;
		justify-content: flex-start;
		transition: color .2s ease, background-color .2s ease;
		
		white-space: nowrap;
		
		text-decoration: none;
		color: var(--text-color);
		
		outline: unset;
		gap: 5px;
		
		&:hover {
			background-color: var(--gray);
			color: var(--basic-link-active-color-2);
		}
		
		&.active {
			color: var(--active-color);
			--active-color: var(--color-palette-3);
			
			ngx-icon {
				--ngx-icon-override-color-1: var(--active-color) !important;
			}
		}
	}
}

.menu-container.sticky-to-right{
	position: absolute;
	right: 0 !important;
	left: unset !important;
}
