:host {
	*, & {
		word-wrap: break-word;
		word-break: break-word;
		overflow-wrap: break-word;
	}
	
	li {
		line-height: 1.5em;
		text-align: justify;
		color: color-mix(in srgb, var(--text-color) 80%, transparent);
		
	}
	
	.entry-content a {
		text-decoration: none;
		color: var(--link-color);
	}
}
