<section class="section-title"
         [@textFramesSideIn]>
	<h1 class="title">
		Legislation
	</h1>
</section>

<div class="entry-content"
     [@textFramesSideIn]>
	<ul class="wp-block-list">
		<li>Law of Ukraine "On the Basic Principles and Requirements for Organic Production, Circulation and Labeling of
		    Organic Products" No. 2496-VIII, in force, current version - Version dated 05/27/2022,
			<a href="https://zakon.rada.gov.ua/laws/show/2496-19#Text"
			   rel="noreferrer noopener"
			   target="_blank">https://zakon.rada.gov.ua/laws/show/2496-19#Text</a></li>
	</ul>
	
	<ul class="wp-block-list">
		<li>Resolution of the Cabinet of Ministers of Ukraine “On Approval of the Procedure for Certification of Organic
		    Production and/or Circulation of Organic Products” dated October 21, 2020 No. 1032,
			<a href="https://zakon.rada.gov.ua/laws/show/1032-2020-%D0%BF#Text"
			   rel="noreferrer noopener"
			   target="_blank">https://zakon.rada.gov.ua/laws/show/1032-2020-%D0%BF#Text</a></li>
	</ul>
	
	<ul class="wp-block-list">
		<li>Resolution of the Cabinet of Ministers of Ukraine “On Approval of the Procedure for Maintaining the State
		    Register of Operators that Produce Products in Accordance with the Requirements of Legislation in the Field of
		    Organic Production, Circulation and Labeling of Organic Products, the State Register of Certification Bodies in
		    the Field of Organic Production and Circulation of Organic Products, the State Register of Organic Seeds and
		    Planting Material” dated February 12, 2020 No. 87 (Revised as of July 7,
		    2022) <a href="https://zakon.rada.gov.ua/laws/show/87-2020-%D0%BF#Text"
		             rel="noreferrer noopener"
		             target="_blank">https://zakon.rada.gov.ua/laws/show/87-2020-%D0%BF#Text</a>
		</li>
	</ul>
	
	<ul class="wp-block-list">
		<li>Order of the Ministry of Agrarian Policy and Food of Ukraine “On Approval of the State Logo for Organic
		    Products” dated 02/22/2019 No. 67, in force, current version — Edition dated 08/14/2020
			<a href="https://zakon.rada.gov.ua/laws/show/z0261-19#n9"
			   rel="noreferrer noopener"
			   target="_blank">https://zakon.rada.gov.ua/laws/show/z0261-19#n9</a></li>
	</ul>
	
	<ul class="wp-block-list">
		<li>Resolution of the Cabinet of Ministers of Ukraine dated 23.10.2019 No. 970 “On Approval of the Procedure
		    (Detailed
		    Rules)
		    for Organic Production and Circulation of Organic Products”
			<a href="https://zakon.rada.gov.ua/laws/show/970-2019-%D0%BF"
			   rel="noreferrer noopener"
			   target="_blank">https://zakon.rada.gov.ua/laws/show/970-2019-%D0%BF</a>&nbsp;&nbsp;
		</li>
	</ul>
	
	<ul class="wp-block-list">
		<li>Order of the Ministry of Economy dated 01/30/2020 No. 109 “On approval of the application form for inclusion in
		    the State Register of Certification Bodies in the Field of Organic Production and Circulation of Organic
		    Products”, registered with the Ministry of Justice on 02/14/2020 under No. 173/34456&nbsp;
			<a href="https://zakon.rada.gov.ua/laws/show/z0173-20"
			   rel="noreferrer noopener"
			   target="_blank">https://zakon.rada.gov.ua/laws/show/z0173-20</a>&nbsp;
		</li>
	</ul>
	
	<ul class="wp-block-list">
		<li>Order of the Ministry of Economy of Ukraine dated 05/26/2020 No. 985 “On approval of the Procedure for
		    maintaining a list of foreign certification bodies”, registered with the Ministry of Justice on 06/11/2020 No.
		    506/34789
			<a href="https://zakon.rada.gov.ua/laws/show/z0506-20#Text"
			   rel="noreferrer noopener"
			   target="_blank">https://zakon.rada.gov.ua/laws/show/z0506-20#Text</a>&nbsp;
		</li>
	</ul>
	
	<ul class="wp-block-list">
		<li>Order of the Ministry of Economy dated 09.06.2020 No. 1037 “On approval of the List of substances
		    (ingredients, components) permitted for use in the process of organic production and permitted for use in
		    maximum permissible quantities”, registered with the Ministry of Justice dated 07.08.2020 No. 763/35046
			<a href="https://zakon.rada.gov.ua/laws/show/z0763-20#Text"
			   rel="noreferrer noopener"
			   target="_blank">https://zakon.rada.gov.ua/laws/show/z0763-20#Text</a>&nbsp;
		</li>
	</ul>
	
	<ul class="wp-block-list">
		<li>Order of the Ministry of Economy dated 12/31/2020 No. 2834 “Some issues of reporting in the field of organic
		    production, circulation and labeling of organic products” registered with the Ministry of Justice dated
		    02/17/2021 No. 200/35822, No. 201/35823
			<a href="https://zakon.rada.gov.ua/laws/show/z0200-21#Text"
			   rel="noreferrer noopener"
			   target="_blank">https://zakon.rada.gov.ua/laws/show/z0200-21#Text</a>&nbsp;
		</li>
	</ul>
	
	<ul class="wp-block-list">
		<li>Resolution of the Cabinet of Ministers of Ukraine dated 09/22/2021 No. 1005 “On approval of the criteria by
		    which the degree of risk from the certification body conducting economic activities in the field of organic
		    production, circulation and labeling of organic products is assessed and the frequency of planned state
		    supervision (control) measures by the State Service for Food Safety and Consumer Protection is determined”
			<a href="https://zakon.rada.gov.ua/laws/show/1005-2021-%D0%BF#Text"
			   rel="noreferrer noopener"
			   target="_blank">https://zakon.rada.gov.ua/laws/show/1005-2021-%D0%BF#Text</a>&nbsp;
		</li>
	</ul>
	
	<ul class="wp-block-list">
		<li>Resolution of the Cabinet of Ministers of Ukraine dated 09.02.2022 No. 102 “On approval of the Procedure for determining the frequency
		    of implementation of planned measures of state control over compliance of the activities of operators (facilities) with the requirements
		    of legislation in the field of organic production, circulation and labeling of organic products, carried out
		    by the State Service for Food Safety and Consumer Protection, and the criteria by which
		    the degree of risk from its implementation is assessed” <a
							href="https://zakon.rada.gov.ua/rada/show/102-2022-%D0%BF#Text"
		                                                     rel="noreferrer noopener"
		                                                     target="_blank">https://zakon.rada.gov.ua/rada/show/102-2022-%D0%BF#Text</a>
		</li>
	</ul>
	
	<ul class="wp-block-list">
		<li>&nbsp;National Economic Strategy for the Period Until 2030 Resolution of the Cabinet of Ministers of Ukraine dated March 3, 2021 No. 179":
		    [Electronic resource]. – Access mode:&nbsp;
			<a href="https://www.kmu.gov.ua/npas/pro-zatverdzhennya-nacionalnoyi-eko-a179"
			   rel="noreferrer noopener"
			   target="_blank">https://www.kmu.gov.ua/npas/pro-zatverdzhennya-nacionalnoyi-eko-a179</a></li>
	</ul>
</div>
