:host {
	display: flex;
	position: relative;
	padding: 2px 8px;
	box-sizing: border-box;
	margin-left: 2px;
	cursor: pointer;
	white-space: nowrap;
	opacity: 1;
	border-radius: 5px;
	
	.pressed-mouse {
		opacity: .7 !important;
	}
	
	.clipboard-container {
		display: flex;
		line-height: 1.5em !important;
		align-items: center;
		flex: 1 1;
		flex-direction: row;
		justify-content: center;
		box-sizing: border-box;
		transition: background-color .2s ease, opacity .2s ease;
		white-space: nowrap;
		border-radius: 3px;
		gap: .5rem;
	}
	
	
	&.enable-bg {
		background-color: color-mix(in srgb, var(--clipboard-bg-selected-color) 50%, transparent);
	}
	
	&:hover {
		.clipboard-container {
			background-color: var(--clipboard-bg-selected-color);
		}
	}
}

:host.one-short-row {
	width: 100%;
	box-sizing: border-box;
	white-space: nowrap;
	
	.clipboard-container {
		box-sizing: border-box;
		white-space: nowrap;
	}
	
	.text-frame {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1 1;
		width: 0;
		
	}
}

:host.font-small {
	font-size: .8em;
}

:host.nowrap {
	align-items: center;
	width: max-content;
	
	white-space: nowrap;
	
	.clipboard-container {
		align-items: center;
		width: max-content;
		white-space: nowrap;
		gap: 2px;
	}
}

:host.clipboard-on-input {
	.clipboard-container {
		padding: 0 !important;
	}
	
	&:hover {
		.clipboard-container {
			background-color: unset !important;
		}
	}
}

:host.inline-gap {
	margin-inline: 3px;
}

@media screen and (max-width: 600px) {
	:host {
		.frame-copy-icon {
			display: none !important;
		}
	}
}
