:host {
	.form-data {
		display: flex;
		flex: 1 1;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
		flex-wrap: wrap;
		gap: 1rem;
		
		.col {
			display: flex;
			flex: 1 1;
			flex-direction: column;
			width: max-content;
			
			max-width: 400px;
			
			gap: .5rem;
			
			custom-input-field {
				flex: 1 1;
			}
		}
	}
	
	.desc-link{
		width: max-content;
		align-items: flex-end;
		justify-content: flex-end;
		
		text-decoration: underline;
		
		border: none;
		box-shadow: unset;
		background-color: unset;
		color: var(--color-palette-3);
		
		.solar-outline{
			--ngx-icon-override-color-1: var(--color-palette-3);
		}
		
		&:hover{
			color: var(--text-color);
			
			.solar-outline{
				--ngx-icon-override-color-1: var(--text-color);
			}
		}
	}
	
	.clipboard-text-container{
		justify-content: center;
		align-items: center;
	}
	
	.allow-wrap{
		flex-wrap: wrap;
	}
	
	ngx-grid {
		flex: 0;
		width: 100%;
	}
	
	.desc {
		display: flex;
		font-size: .9em;
		flex-direction: column;
		
		gap: 1rem;
		padding-block: 1.5rem;
		
		.desc-data {
			display: flex;
			align-items: center;
			
			gap: .5rem;
		}
	}
	
}
