@let activatedRouteData = activatedRouteData$ | async;
@let profileData = profileData$ | async;

<div class="container-header">
	<h2 class="component-title">
		<ngx-icon [name]="activatedRouteData?.['icon'] ?? ''"></ngx-icon>
		{{ activatedRouteData?.['title'] }}
	</h2>
</div>


@if (profileData?.Data) {
	<div class="container-body"
	     [@containerAnimation]>
		
		<div class="desc">
			<div class="desc-data">
				<ngx-icon [name]="'text-square-2'"></ngx-icon>
				<span>Ідентифікатор кабінету: #{{ profileData?.Data?.Id }}</span>
			</div>
			
			<div class="desc-data">
				<ngx-icon [name]="'clock-circle'"></ngx-icon>
				<span class="clipboard-text-container fx-row allow-wrap">
					<span>Обліковий запис створено:</span>
					<clipboard-text-container [isEnableCopyIcon]="true"
					                          class="enable-bg"
					                          [text]="profileData?.Data?.CreatedDate  ?? ''">
								<span>
									{{profileData?.Data?.CreatedDate | datetime | date: 'dd.MM.yyyy HH:mm'}}
								</span>
					</clipboard-text-container>
				</span>
			</div>
			
			<div class="desc-data">
				<ngx-icon [name]="'phone-calling'"></ngx-icon>
				<span class="clipboard-text-container fx-row allow-wrap">
					<span>Номер телефону:</span>
					<clipboard-text-container [isEnableCopyIcon]="true"
					                          class="enable-bg"
					                          [text]="profileData?.Data?.Phone ?? ''">
								<span>
									{{ profileData?.Data?.Phone }}
								</span>
					</clipboard-text-container>
				</span>
			</div>
			
			<button (click)="onRestorePassword(profileData?.Data?.Phone ?? '')"
			        class="desc-data desc-link"
			        customBasicLink>
				<ngx-icon [name]="'key'"></ngx-icon>
				Відновити пароль
			</button>
		</div>
		
		<form action=""
		      (ngSubmit)="onSubmit(profileData?.Data?.Id)"
		      [formGroup]="formGroup"
		      class="form-data">
			<ngx-grid [cellSize]="400">
				<custom-input-field>
					<ngx-icon [name]="'text-square-2'"
					          [ratio]="'1em'"></ngx-icon>
					<label for="name">Ім'я</label>
					
					<input id="name"
					       [formControlName]="'FirstName'"
					       autocomplete="on"
					       customInput
					       type="text">
				</custom-input-field>
				
				<custom-input-field>
					<ngx-icon [name]="'text-square-2'"
					          [ratio]="'1em'"></ngx-icon>
					<label for="lastname">Прізвище</label>
					
					<input id="lastname"
					       [formControlName]="'LastName'"
					       autocomplete="on"
					       customInput
					       type="text">
				</custom-input-field>
				
				<custom-input-field>
					<ngx-icon [name]="'text-square-2'"
					          [ratio]="'1em'"></ngx-icon>
					<label for="secondName">По батькові</label>
					
					<input id="secondName"
					       [formControlName]="'MiddleName'"
					       autocomplete="on"
					       customInput
					       type="text">
				</custom-input-field>
			</ngx-grid>
			
			<button class="btn submit-btn"
			        [type]="'submit'"
			        [ngClass]="!formGroup.dirty || !formGroup.valid ? 'disabled' : ''"
			        customBasicButton
			        matRipple>
				<ngx-icon [name]="'pen-new-square'"
				          [ratio]="'1em'"></ngx-icon>
				<span>Зберегти зміни</span>
			</button>
		</form>
	</div>
}

