@let allowedRenewCode = allowedRenewCode$ | async;
@let timerToRenew = timerToRenew$ | async;
@let loaderState = loaderState$ | async;

<form class="form-data"
      (ngSubmit)="onSubmit()"
      [formGroup]="confirmationFg"
      action="">
	<div class="page-title">
		<ngx-icon [name]="'key'"
		          [ratio]="'3em'"></ngx-icon>
		
		<h2>
			Введіть код з SMS
		</h2>
		
		<span class="title-desc">
			Для завершення відновлення паролю, будь ласка, введіть код підтвердження, надісланий на ваш номер телефону.
		</span>
	</div>
	
	<div class="code-content">
		<span class="title-desc">Код з SMS:</span>
		<div class="code-container"
		     [formArrayName]="'code'">
			@for (item of inputControls; track item; let idx = $index) {
				<custom-input-field [isDisableLabel]="true">
					<input class="input-field"
					       #codeInput
					       (keyup)="onKeyupInput($event, codeInput, idx)"
					       (keydown)="onKeydownInput($event)"
					       (input)="onInputValue($event, idx)"
					       (focus)="onFocusInput(codeInput, idx)"
					       (click)="codeInput.select()"
					       (paste)="onPasteToInput($event, idx)"
					       [formControlName]="idx"
					       autocomplete="off"
					       customInput
					       type="number">
				</custom-input-field>
			}
		</div>
		
		<div class="info">
			<a (click)="onSendCode(allowedRenewCode)"
			   [ngClass]="allowedRenewCode ? '' : 'disallowed-link'"
			   customBasicLink>
				<ngx-icon [name]="'letter'"
				          [ratio]="'1em'"></ngx-icon>
				
				Надіслати повторно
			</a>
			
			@if (!allowedRenewCode && !timerToRenew?.isView) {
				<div class="renew"
				     [@frameSideIn4]>
					<span>{{ timerToRenew?.state | date: 'mm:ss' }}</span>
				</div>
			}
		</div>
	</div>
	
	<custom-input-field>
		<ngx-icon [name]="'lock-password-unlocked'"
		          [ratio]="'1em'"></ngx-icon>
		<label for="password">Пароль</label>
		
		<div customInputSuffix>
			<div class="input-suffix"
			     (click)="onHandlerPassword(password)"
			     [matRippleColor]="'var(--mat-ripple-suffix-color)'"
			     customInputSuffix
			     matRipple>
				
				@if (password.type != 'password') {
					<ngx-icon [name]="'eye'"
					          [ratio]="'1em'"></ngx-icon>
				} @else {
					<ngx-icon [name]="'eye-closed'"
					          [ratio]="'1em'"></ngx-icon>
				}
			</div>
		</div>
		
		<input id="password"
		       [formControlName]="'newPassword'"
		       #password
		       autocomplete="new-password"
		       customInput
		       type="password">
	</custom-input-field>
	
	<button class="btn submit-btn"
	        [disabled]="!confirmationFg.valid"
	        [type]="'submit'"
	        customBasicButton
	        matRipple>
		<ngx-icon [name]="'check-read'"
		          [ratio]="'1.3em'"></ngx-icon>
		
		<span>Підтвердити</span>
	</button>
</form>

@if (!loaderState?.isLoaded) {
	<dots-loadbar class="loader disabled-bg"></dots-loadbar>
}
