@use "@angular/material" as mat;

:host {
	display: flex;
	overflow: hidden;
	flex: 1 1;
	background-color: var(--color-palette-4);
	
	mat-progress-bar {
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		@include mat.progress-bar-overrides((
				active-indicator-color: var(--color-palette-3),
		));
	}
	
	ngx-toastr {
		z-index: 100;
	}
}
