@let isLoadingChunks = isLoadingChunks$ | async;
@let isLoadingInterface = isLoadingInterface$ | async;
@let authAuditorState = authAuditorState$ | async;
@let logoutAuditorState = logoutAuditorState$ | async;
@let fullScreenLoaderState = fullScreenLoaderState$ | async;
@let isSuccessLoadingInterface = isSuccessLoadingInterface$ | async;
@let breakPointForXSmall = breakPointForXSmall$ | async;

@if(isLoadingChunks){
	<div class="progress-bar-container">
		<mat-progress-bar [@frameSideInOut2]
		                  mode="indeterminate"></mat-progress-bar>
	</div>
}

<router-outlet></router-outlet>
<router-outlet name="auth-overlay"></router-outlet>
<ngx-toastr></ngx-toastr>
<viewport-overlay></viewport-overlay>
<ng-short-messages [ngClass]="breakPointForXSmall?.matches ? 'adaptive-to-xs' : ''"></ng-short-messages>
<confirmed-modal-window></confirmed-modal-window>

@if (((isLoadingInterface && !isSuccessLoadingInterface)) || !authAuditorState?.isFetchSuccess ||
!logoutAuditorState?.isFetchSuccess || fullScreenLoaderState?.isAnimating) {
	<full-screen-loader [@fullScreenLoaderAnimation]></full-screen-loader>
}
