:host {
	display: flex;
	padding: 10px 30px;
	flex: 1 1;
	justify-content: center;
	
	main {
		display: flex;
		flex: 1 1 auto;
		min-height: 60vh;
		
		max-width: var(--content-viewport-width);
	}
}
