:host {
	display: flex;
	position: fixed;
	z-index: 99;
	padding: 1rem;
	top: 0;
	left: 0;
	overflow: auto;
	flex: 1 1;
	justify-content: center;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	
	background-color: var(--color-palette-4);
	border-radius: 5px;
	
	--border-color: color-mix(in srgb, transparent, var(--gray-2) 80%);
	--shadow-color: rgba(94, 122, 177, 0.25);
	--box-shadow-items: var(--shadow-color) 0px 2px 5px;
	
	.container{
		display: flex;
		flex-direction: column;
		
		justify-content: center;
		padding: 1rem;
		border-radius: 5px;
		min-width: min(calc(75vw - 1.5rem), 400px);
		max-width: min(calc(75vw - 1.5rem), 400px);
		box-shadow: var(--box-shadow-items);
	}
	
	.desc {
		font-size: .8em;
		font-weight: 500;
		color: color-mix(in srgb, transparent, var(--text-color) 50%);
	}
	
	.logo{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-bottom: 1rem;

	}
	
	.certificates{
		display: flex;
		flex-direction: column;
		margin-top: 1rem;
		
		.certs-info{
			display: flex;
			flex-direction: column;
		}
	}
	
	.logo-frame {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		
		border-radius: 1000px;
		box-shadow: var(--box-shadow-items);
		box-sizing: border-box;
		padding: 10px;
		width: calc(130px);
		height: calc(130px);
		overflow: hidden;
		img{
			max-width: 80%;
			object-fit: contain;
			aspect-ratio: 1/1;
			margin: auto;
		}
	}
	
	.card-header {
		display: flex;
		padding: .5rem 0 1rem 0;
		align-items: center;
		flex-direction: row;
		box-sizing: border-box;
		width: 100%;
		
		height: max-content;
		white-space: nowrap;
		
		gap: 5px;
		
		.icon {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		.header-title {
			margin: 0;
			font-size: 1em;
		}
	}
	
	.cert-data {
		display: flex;
		
		flex: 1 1;
		flex-direction: column;
		gap: .5rem;
		
		.cert-data {
			display: flex;
			flex-direction: column;
			gap: .3rem;
		}
		
		.text-container {
			display: flex;
			font-size: .8em;
			align-items: center;
			
			flex-direction: row;
			justify-content: flex-start;
			gap: .4rem;
			
			ngx-icon {
				min-width: max-content;
			}
			
			.text-block {
				display: -webkit-box;
				font-weight: 500;
				line-height: 1.3em;
				overflow: hidden;
				text-align: start;
				text-overflow: ellipsis;
				color: color-mix(in srgb, var(--text-color) 80%, transparent);
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
			}
		}
	}
	
	.viewport-content {
		display: flex;
		flex: 1 1;
		
		flex-direction: column;
		max-width: var(--content-viewport-width);
		
		gap: 1rem;
	}
	
	.close-btn {
		padding: .8rem;
		aspect-ratio: 1/1;
	}
	
	.header-content {
		display: flex;
		justify-content: flex-end;
		width: 100%;
	}
	
	.body-content {
		display: flex;
		flex-direction: column;
		margin: auto;
		gap: .5rem;
		box-sizing: border-box;
	}
	
	.footer-content {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		margin-top: 1rem;
	}
	
	.text-center {
		line-height: 1.4em;
		text-align: center;
	}
	
	.error-content {
		display: flex;
		align-items: center;
		flex: 1 1;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
	}
}
