@let loaderState = loaderState$ | async;
@let companies = companies$ | async;
@let authAuditorState = authAuditorState$ | async;

@if (!loaderState?.isLoaded && !loaderState?.isError) {
	<ng-container [ngTemplateOutlet]="loading"></ng-container>
}

@if (loaderState?.isLoaded && !loaderState?.isError || !!companies) {
	<ng-container [ngTemplateOutlet]="loaded"></ng-container>
} @else if (loaderState?.isLoaded && loaderState?.isError) {
	<ng-container [ngTemplateOutlet]="error"></ng-container>
}

<ng-template #loaded>
	<div class="component-header">
		<a class="btn"
		   [routerLink]="'new'"
		   customBasicButton
		   matRipple>
			<ngx-icon [name]="'add-circle'"
			          [ratio]="'1em'"></ngx-icon>
			<span>Додати компанію</span>
		</a>
	</div>
	
	<div class="component-content"
	     [@containerAnimation]>
		@if (companies?.length == 0 || !companies) {
			<div class="empty-data">
				<ngx-icon [name]="'pen-new-round'"
				          [ratio]="'1.5em'"></ngx-icon>
				<h3>Записи відсутні. Створіть нову <br> компанію для перегляду більшого набору інформації</h3>
			</div>
		} @else {
			<ngx-grid [cellSize]="300">
				@for (item of onSortCompanies(companies, authAuditorState?.activeCompany?.CompanyId!); track item.CompanyId) {
					<div class="card"
					     [ngClass]="[
								item.CompanyId && item.CompanyId === authAuditorState?.activeCompany?.CompanyId ? 'active-card' : '',
								item.CompanyArchivated ? 'archivated-item-card' : ''
								]">
						<div class="card-body">
							<h4>{{ item.CompanyName }}</h4>
							
							<div class="desc">
								<div class="fx-row desc-container">
									<ngx-icon
													[name]="'notes'"
													[ratio]="'.9em'"></ngx-icon>
									
									<span>
										Ідентифікатор – #{{ item?.CompanyId }}
									</span>
								</div>
								
								<div class="fx-row desc-container">
									<ngx-icon
													[name]="'document-add'"
													[ratio]="'.9em'"></ngx-icon>
									
									<span>
										Засновано – {{ item?.CreatedDate | datetime | date: 'dd.MM.yyyy' }}
									</span>
								</div>
								
								<div class="fx-row desc-container">
									<ngx-icon
													[name]="'winrar'"
													[ratio]="'.9em'"></ngx-icon>
									
									<span>
										Архівовано –
										<span class="pin"
										      [ngClass]="item?.CompanyArchivated ? 'pin-red' : 'pin-green'">
											{{ item?.CompanyArchivated ? 'Так' : 'Ні' }}
										</span>
									</span>
								</div>
								
								<div class="fx-row desc-container">
									<ngx-icon
													[name]="'shield-star'"
													[ratio]="'.9em'"></ngx-icon>
									
									<span>
										Ваша роль – {{ AllowedRoles[item.Role] }}
									</span>
								</div>
							</div>
						</div>
						
						<div class="card-footer">
							@if (!item.CompanyArchivated) {
								<a class="btn drop-btn"
								   (click)="onArchiveCompany(item?.CompanyId!)"
								   customBasicButton
								   matRipple>
									<ngx-icon [name]="'winrar'"
									          [ratio]="'1.1em'"></ngx-icon>
								</a>
							}
							
							<a class="btn"
							   customRaisedButton
							   (click)="onSetActiveCompany(item, authAuditorState!)"
							   matRipple>
								<ngx-icon [name]="'check-circle'"
								          [ratio]="'1.1em'"></ngx-icon>
							</a>
							
							<a class="btn"
							   [routerLink]="'edit/' + item.CompanyId"
							   customBasicButton
							   matRipple>
								<ngx-icon [name]="item?.CompanyArchivated ? 'eye' : 'pen'"
								          [ratio]="'1.1em'"></ngx-icon>
							</a>
						</div>
						<!-- 						{{ item.CompanyName }} -->
					</div>
				}
			</ngx-grid>
		}
	</div>
</ng-template>

<ng-template #error>
	<error-loading-page>
		<refresh-button (click)="onReloadPage()"></refresh-button>
	</error-loading-page>
</ng-template>

<ng-template #loading>
	<dots-loadbar class="loader disabled-bg"
	              [@frameSideInOut2]></dots-loadbar>
</ng-template>
