:host {
	display: flex;
	flex-direction: column;
	
	gap: .5rem;
	flex: 1 1;
	background-color: var(--white);
	padding: 1rem;
	border-radius: 5px;
	box-shadow: var(--box-shadow-items);
	--box-shadow-items: rgba(94, 122, 177, 0.2) 0px 2px 5px;
	
	.allow-text-wrap{
		text-wrap: wrap !important;
		white-space: wrap !important;
	}
	
	.cert-button{
		width: unset !important;
		text-align: start;
		line-height: 1.5em;
	}
	form {
		display: flex;
		flex: 1 1;
		flex-direction: column;
		gap: 1rem;
	}
	
	.fields-container {
		gap: .5rem;
	}
	
	.fx-gap05 {
		gap: .5rem;
	}
	
	.container {
		display: flex;
		flex-direction: column;
		gap: .5rem;
	}
	
	.title {
		display: flex;
		margin: 20px 0 10px 0;
		align-items: center;
		
		flex-direction: row;
		justify-content: flex-start;
		gap: .3rem;
		
		h3 {
			margin: 0;
			font-size: .9em;
			font-weight: 450;
		}
	}
	
	.fx-col-large-gap {
		display: flex;
		flex-direction: column;
		
		gap: 1rem;
	}
	
	.fx-wrap {
		flex-wrap: wrap;
	}
	
	custom-input-field, custom-dropdown-field {
		flex: 1;
		min-width: min(300px, 90vw);
	}
	
	.fx-row {
		width: 100%;
	}
	
	.cert-content {
		display: flex;
		flex-direction: column;
		gap: .2rem;
		
		.cert-name {
			font-weight: 500;
		}
		
		.cert-desc {
		
		}
	}
	
	.fx-end{
		display: flex;
		justify-content: flex-end;
	}
	
	.selection-row {
		display: flex;
		align-items: center;
		
		width: max-content;
		cursor: pointer;
		color: var(--default-titles-color);
		
		border: unset;
		background-color: unset;
		
		gap: .5rem;
	}
	
	.red-checkmark{
		color: var(--little-red);
	}
	
	.selection-certs{
		display: flex;
		flex-direction: column;
		gap: .5rem;
	}
	
	.loader{
		z-index: 10;
	}
	
	.cert-name {
		color: color-mix(in srgb, var(--text-color) 50%, transparent);
	}
	
	.set-max-w{
		max-width: calc(100% / 3 - .5rem);
		min-width: min(300px, 90vw);
	}
}
