:host {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: var(--header-height);
	border-bottom: 1px solid var(--gray);
	padding-inline: 10px;
	
	header {
		display: flex;
		
		flex: 1 1;
		justify-content: space-between;
		box-sizing: border-box;
		max-width: var(--content-viewport-width);
		height: 100%;
		gap: 10px;
	}
	
	.ratio-1-1 {
		aspect-ratio: 1/1;
	}
	
	.delimiter {
		display: flex;
		height: 20%;
		border-left: 2px solid color-mix(in srgb, var(--text-color) 10%, transparent);
	}
	
	.notification {
		padding: .65rem;
		max-width: max-content;
		max-height: max-content;
		border: 1px solid color-mix(in srgb, var(--text-color) 5%, transparent);
	}
	
	.social {
		overflow: visible;
		box-sizing: border-box;
		border-radius: 1000px;
	}
	
	.twitter {
		g {
			transition: fill .2s ease;
		}
		
		&:hover {
			g {
				fill: #21c0ff;
			}
		}
	}
	
	.gmail {
		transition: opacity .2s ease;
		
		&:hover {
			opacity: .7;
		}
	}
	
	.facebook {
		circle {
			transition: fill .2s ease;
		}
		
		&:hover {
			circle {
				fill: #6383bf;
			}
		}
	}
	
	.logo-container {
		display: flex;
		position: relative;
		padding: 5px;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		
		box-sizing: border-box;
		height: 100% !important;
		cursor: pointer;
		transition: color .2s ease;
		
		text-decoration: none;
		color: var(--text-color);
		gap: 10px;
		
		.logo-frame {
			display: flex;
			position: relative;
			height: 100% !important;
			aspect-ratio: 1/1;
		}
		
		.title-frame {
			display: flex;
			flex-direction: column;
		}
		
		&.active {
			color: var(--active-color);
			--active-color: var(--color-palette-3);
		}
		
		&:hover {
			color: var(--hover-color);
			--hover-color: var(--color-palette-3);
		}
	}
	
	.nav-container {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}
	
	.title {
		margin: 0;
		font-size: 1em;
		font-weight: 500;
	}
	
	.desc {
		font-size: .8em;
	}
}
