@let loaderState = loaderState$ | async;

<div class="container-header">
	<a class="btn back-btn"
	   (click)="onGoToBack()"
	   [isRounded]="true"
	   customRaisedButton
	   matRipple>
		<ngx-icon [name]="'alt-arrow-left'"
		          [ratio]="'1em'"></ngx-icon>
		<span>Back</span>
	</a>
</div>

<form class="form"
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
      action="">
	<!-- MAIN INFO SECTION -->
	<div class="set-gap-1 fx-col"
	     [@frameSideInOut4]>
		<div class="set-gap-05 fx-row">
			<h3 class="component-title">
				<ngx-icon [name]="'document-add'"
				          [ratio]="'1em'"></ngx-icon>
				<span>
					General information about the company
					<span class="red-checkmark">*</span>
				</span>
			</h3>
		</div>
		
		<div class="basic-area-fields set-gap-05 fx-row">
			<custom-input-field>
				<ngx-icon [name]="'text-square-2'"
				          [ratio]="'1em'"></ngx-icon>
				<label for="name">Name of institution</label>
				
				<textarea id="name"
				          [formControlName]="'Name'"
				          autocomplete="on"
				          customInput
				          type="text"></textarea>
			</custom-input-field>
			
			<custom-input-field>
				<ngx-icon [name]="'text-square-2'"
				          [ratio]="'1em'"></ngx-icon>
				<label for="registration-number">State Register Number</label>
				
				<textarea id="registration-number"
				          [formControlName]="'RegistrationNumber'"
				          autocomplete="on"
				          customInput
				          type="text"></textarea>
			</custom-input-field>
		</div>
		
		<div class="set-gap-05 fx-row">
			<custom-dropdown-field [control]="form.get('LegalType')!">
				<ngx-icon [name]="'pin-list'"
				          [ratio]="'1em'"></ngx-icon>
				
				<label>Legal status</label>
				
				<custom-selection-menu>
					@for (item of legalTypeList; track item) {
						<custom-selection-option [value]="item.value">
							<ngx-icon [name]="item.icon"
							          [ratio]="'1em'"></ngx-icon>
							{{ item.name }}
						</custom-selection-option>
					}
				</custom-selection-menu>
			</custom-dropdown-field>
			
			<custom-input-field>
				<ngx-icon [name]="'text-square-2'"
				          [ratio]="'1em'"></ngx-icon>
				<label for="establishment-date">Date of foundation</label>
				
				<input id="establishment-date"
				       [formControlName]="'EstablishmentDate'"
				       autocomplete="on"
				       customInput
				       type="date">
			</custom-input-field>
		</div>
	</div>
	<!-- /* END OF SECTION MAIN INFO */ -->
	
	<!-- DESCRIPTION SECTION -->
	<div class="set-gap-1 fx-col"
	     [@frameSideInOut4]>
		<div class="set-gap-05 fx-row">
			<h3 class="component-title">
				<ngx-icon [name]="'danger'"
				          [ratio]="'1em'"></ngx-icon>
				<span>
					Details and description
					<span class="red-checkmark">*</span>
				</span>
			</h3>
		</div>
		
		<div class="set-gap-05 fx-row">
			<custom-input-field>
				<ngx-icon [name]="'text-square-2'"
				          [ratio]="'1em'"></ngx-icon>
				<label for="description">Description</label>
				
				<textarea id="description"
				          [formControlName]="'Description'"
				          autocomplete="on"
				          customInput
				          type="text">
			
		</textarea>
			</custom-input-field>
			
			<custom-input-field>
				<ngx-icon [name]="'text-square-2'"
				          [ratio]="'1em'"></ngx-icon>
				<label for="address">Institution address</label>
				
				<textarea id="address"
				          [formControlName]="'Address'"
				          autocomplete="on"
				          customInput
				          type="text">
			
		</textarea>
			</custom-input-field>
		</div>
	</div>
	<!-- /* END OF SECTION DESCRIPTION  */ -->
	
	<!-- CONTACTS SECTION -->
	<div class="set-gap-1 fx-col"
	     [@frameSideInOut4]>
		<div class="set-gap-05 fx-row">
			<h3 class="component-title">
				<ngx-icon [name]="'phone-calling-rounded'"
				          [ratio]="'1em'"></ngx-icon>
				<span>
					Institution contact information
					<span class="red-checkmark">*</span>
				</span>
			</h3>
			
			<button (click)="onAddContactToForm()"
			        [isRounded]="true"
			        [type]="'button'"
			        customRaisedButton
			        matRipple>
				<ngx-icon [name]="'pen'"
				          [ratio]="'1em'"></ngx-icon>
				<span>Add more</span>
			</button>
		</div>
		
		<div class="set-gap-05 fx-col contact-list"
		     [formArrayName]="'ContactList'">
			@for (item of onGetContactListControls(); track item; let idx = $index) {
				<div class="set-gap-05 fx-row contact-item"
				     [formGroupName]="idx">
					<custom-dropdown-field [control]="onGetFormControlByName(item, 'Type')">
						<ngx-icon [name]="'pin-list'"
						          [ratio]="'1em'"></ngx-icon>
						
						<label>Contact type</label>
						
						<custom-selection-menu>
							@for (item2 of allowedContactTypes; track item2) {
								<custom-selection-option [value]="item2.value"
								                         [isSelected]="onGetFormControlByName(item, 'Type').value === item2.value">
									<ngx-icon [name]="item2.icon"
									          [ratio]="'1em'"></ngx-icon>
									{{ item2.name }}
								</custom-selection-option>
							}
						</custom-selection-menu>
					</custom-dropdown-field>
					
					<custom-input-field>
						<ngx-icon [name]="'phone-calling'"
						          [ratio]="'1em'"></ngx-icon>
						<label [for]="'contact-' + idx">Phone number</label>
						
						<input [id]="'contact-' + idx"
						       [formControlName]="'Contact'"
						       autocomplete="off"
						       customInput
						       type="text">
					</custom-input-field>
					
					<button customRaisedButton
					        (click)="onRemoveContactFromForm(idx)"
					        class="ratio-1-1 drop-field-btn"
					        [matTooltip]="'Delete'"
					        [type]="'button'"
					        [isRounded]="true"
					        matRipple>
						<ngx-icon [name]="'trash-bin-2'"
						          [ratio]="'1em'"></ngx-icon>
					</button>
				</div>
			}
		</div>
	</div>
	<!-- /* END OF SECTION CONTACTS  */ -->
	
	<!-- CATEGORIES SECTION	 -->
	<div class="set-gap-1 fx-col"
	     [@frameSideInOut4]>
		<div class="set-gap-05 fx-row">
			<h3 class="component-title">
				<ngx-icon [name]="'palette-round'"
				          [ratio]="'1em'"></ngx-icon>
				Categories of agricultural activity
			</h3>
		</div>
		
		<div class="fx-col set-gap-05">
			@for (item of typeOfInteractivityValues; track item) {
				<button class="fx-row selection-row"
				        [type]="'button'"
				        (click)="onSelectInteractivity(item)">
					<ng-checkbox [isAutoChangeValue]="false"
					             [control]="item.control"></ng-checkbox>
					<span>{{ item.name }}</span>
				</button>
			}
		</div>
	</div>
	<!-- /* END OF SECTION CATEGORIES */ -->
	
	<div class="set-gap-05 fx-row"
	     [@frameSideInOut4]>
		<button
						[type]="'submit'"
						customBasicButton>
			<ngx-icon [name]="'verified-check'"></ngx-icon>
			Save
		</button>
	</div>
</form>

@if (!loaderState?.isLoaded) {
	<dots-loadbar class="loader disabled-bg"
	              [@frameSideInOut2]></dots-loadbar>
}
