:host {
	display: flex;
	position: relative;
	flex: 1 1;
	flex-direction: column;
	gap: 1.5rem;
	--default-titles-color: color-mix(in srgb, transparent, var(--text-color) 80%);
	
	ngx-icon{
		min-width: max-content;
	}
	
	.container-header {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		gap: 1rem;
	}
	
	.fx-row {
		flex-wrap: wrap !important;
	}
	
	.basic-area-fields {
		textarea {
			min-height: 40px;
			max-height: 40px;
			resize: none;
		}
	}
	
	custom-input-field, custom-dropdown-field {
		min-width: min(100%, 300px);
	}
	
	.selection-row {
		display: flex;
		align-items: center;
		text-align: start;
		flex-wrap: nowrap !important;
		
		justify-content: flex-start;
		width: unset !important;
		
		cursor: pointer;
		white-space: wrap !important;
		color: var(--default-titles-color);
		border: unset;
		background-color: unset;
		gap: .5rem;
	}
	
	.ratio-1-1 {
		aspect-ratio: 1/1;
	}
	
	.contact-item {
		align-items: center;
		justify-content: flex-start;
		text-align: start;
	}
	
	.drop-field-btn {
		padding: .7rem !important;
	}
	
	.back-btn {
		padding: .8rem 1rem;
	}
	
	.red-checkmark {
		color: var(--little-red);
	}
	
	.contact-list {
		max-width: 50%;
	}
	
	.component-title {
		display: flex;
		margin: 0;
		font-size: 1.1em;
		font-weight: 500;
		align-items: center;
		flex-direction: row;
		
		color: var(--default-titles-color);
		
		.solar-outline {
			--ngx-icon-override-color-1: var(--default-titles-color);
		}
		
		gap: .5rem;
	}
	
	.component-header {
		width: 100%;
	}
	
	.set-gap-05 {
		gap: .5rem;
	}
	
	.set-gap-1 {
		gap: 1.2rem;
	}
	
	.form {
		display: flex;
		flex-direction: column;
		
		gap: 2rem;
	}
	
	textarea {
		min-height: 100px;
		max-height: 150px;
		resize: vertical;
	}
}

@media screen and (max-width: 900px) {
	:host{
		.contact-list {
			width: 100% !important;
			max-width: unset;
		}
	}
}
