<footer>
	<div class="centered-content">
		<section class="nav-container">
			<div class="titles">
				<ngx-icon [name]="'question-circle'"
				          [ratio]="'1.2em'" />
				<h4 class="section-title">
					Допомога
				</h4>
			</div>
			
			<ul>
				<li>
					<a href="">Про нас</a>
				</li>
				<li>
					<a href="">Як це працює?</a>
				</li>
				
				<li>
					<a href="">Умови використання</a>
				</li>
				
				<li>
					<a href="">Конфіденційність</a>
				</li>
				
				<li>
					<a href="">Служба підтримки</a>
				</li>
			</ul>
		</section>
		
		<section class="nav-container">
			<div class="titles">
				<ngx-icon
								[name]="'book-bookmark'"
								[ratio]="'1.2em'" />
				<h4 class="section-title">
					Портал
				</h4>
			</div>
			
			<ul>
				<li>
					<a href="">Органічна карта</a>
				</li>
				<li>
					<a href="">Про органіку</a>
				</li>
				
				<li>
					<a href="">Бібліотека</a>
				</li>
				
				<li>
					<a href="">Технології</a>
				</li>
			</ul>
		</section>
		
		<section class="nav-container">
			<div class="titles">
				<ngx-icon [name]="'phone-calling-rounded'"
				          [ratio]="'1.2em'" />
				<h4 class="section-title">
					Контакти
				</h4>
			</div>
			
			<span>Україна, м. Рівне <br>
				вул. Соборна, 11
			</span>
		</section>
	</div>
	
	<div class="centered-content site-info">
		<div>
			<span>
			Даний портал було розроблено в рамках проекту "Інформаційно-аналітична система органічного землеробства та
		забезпечення екологічної стійкості ґрунтів", що фінансувався за рахунок коштів Державного бюджету України.
		</span>
		</div>
	</div>
	
	<div class="copyright">
		<span>Copyright © 2025 OrganicPortal.in.ua</span>
	</div>
</footer>


