:host {
	display: flex;
	position: relative;
	flex: 1 1;
	flex-direction: column;
	box-sizing: border-box;
	
	gap: 1rem;
	--box-shadow-items: rgba(94, 122, 177, 0.11) 0px 2px 5px;
	
	.container {
		display: flex;
		align-items: flex-end;
		
		flex-direction: column;
		justify-content: flex-start;
		border-radius: 3px;
		box-shadow: var(--box-shadow-items);
	}
	
	.page-title {
		display: flex;
		position: absolute;
		
		padding: .5rem 1rem;
		
		margin: 0;
		font-size: 1.3em;
		font-weight: 500;
		z-index: 1;
		
		top: 20px;
		left: 20px;
		flex-direction: row;
		color: var(--color);
		
		gap: .5rem;
		
		--color: color-mix(in srgb, var(--text-color) 90%, transparent);
		
		.solar-outline {
			--ngx-icon-override-color-1: var(--color);
		}
	}
	
	.content-container {
		display: flex;
		position: relative;
		flex: 1 1;
		flex-direction: column;
		box-sizing: border-box;
		width: 100%;
		transition: height .2s ease, flex .2s ease;
		border-radius: 3px;
		
		background-color: var(--white);
		box-shadow: var(--box-shadow-items);
	}
	
	.navigation {
		display: flex;
		padding: 0 1rem 0 1rem;
		align-items: center;
		
		flex: 1 1;
		flex-direction: row;
		
		justify-content: flex-start;
		box-sizing: border-box;
		
		border-top: 1px solid color-mix(in srgb, var(--text-color) 30%, transparent);
		background-color: color-mix(in srgb, var(--white) 80%, transparent);
		backdrop-filter: blur(5px);
		
		.links {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			margin-left: calc(130px + 120px);
			
			a.active {
				color: var(--white);
				background-color: var(--basic-button-active-color);
				
				.solar-outline {
					--ngx-icon-override-color-1: var(--white);
				}
			}
		}
	}
	
	.link-frame {
		position: relative;
		
		padding: 20px 1.5rem;
		font-size: .9em;
		
		color: var(--text-color) !important;
		border-radius: 0;
		background-color: unset !important;
		box-shadow: unset;
		
		&:hover {
			background-color: var(--gray) !important;
		}
		
		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			content: "";
			transition: border-bottom .2s ease;
			
			border-bottom: 3px solid transparent;
			will-change: border-bottom;
		}
		
		.solar-outline {
			--ngx-icon-override-color-1: var(--text-color) !important;
		}
		
		&.active {
			background-color: var(--gray) !important;
			--active-color: #06785e;
			
			&::after {
				border-bottom: 3px solid var(--active-color);
			}
		}
	}
	
	.image-frame {
		display: flex;
		position: relative;
		align-items: flex-end;
		
		justify-content: flex-start;
		width: 100%;
		
		min-height: 280px;
		
		.card-bg {
			z-index: -1;
			border-radius: 2.5px 2.5px 0 0;
			object-fit: cover;
			filter: hue-rotate(70deg);
		}
		
		.user-frame-image {
			display: flex;
			position: absolute;
			z-index: 5;
			
			overflow: hidden;
			align-items: center;
			justify-content: center;
			
			width: 100px;
			margin-left: 120px;
			transform: translateY(-10%);
			border: 1px solid color-mix(in srgb, var(--text-color) 10%, transparent);
			
			border-radius: 1000px;
			background-color: var(--white);
			box-shadow: var(--box-shadow-items);
			
			aspect-ratio: 1/1;
			
			img {
				width: 60%;
				height: 60%;
				object-fit: cover;
			}
			
			.solar-outline {
				--ngx-icon-override-color-1: color-mix(in srgb, var(--text-color) 80%, transparent);
			}
		}
	}
}
