@let authAuditorState = authAuditorState$ | async;
@let isOpenedSidebar = isOpenedSidebar$ | async;

@let breakPointForMw850 = breakPointForMw850$ | async;
@let breakPointForXSmall = breakPointForXSmall$ | async;
@let isAdaptiveToMw850px = breakPointForMw850?.matches && !breakPointForXSmall?.matches;

@if(isAdaptiveToMw850px){
	<div class="aside-sub-frame"></div>
}

<aside [ngClass]="[
breakPointForXSmall?.matches ? 'xs-adaptive' : '',
isOpenedSidebar ? 'sidebar-is-opened' : 'closed-sidebar',
isAdaptiveToMw850px ? 'sidebar-mw-850-adaptive' : ''
]">
	<div class="header">
		<div class="full-view-container-header"
		     [@frameSideIn5]>
			<div class="title fx-row fx-gap">
				<h3 class="sidebar-title">
					Company menu
				</h3>
			</div>
			
			<div class="company-name">
				<h3>{{ authAuditorState?.activeCompany?.CompanyName }}</h3>
			</div>
		</div>
		
		<div class="short-view-container-header"
		     [@frameSideIn5]>
			<ngx-icon [name]="'menu-dots'"
			          [ratio]="'1.5em'"></ngx-icon>
		</div>
		
		@if(!breakPointForXSmall?.matches){
			<ng-container [ngTemplateOutlet]="sidebarHandler"></ng-container>
		}
	</div>
	
	<div class="body">
		<div class="scrollable-container">
			@for (item of links; track item) {
				<a class="nav-link-content custom-basic-link"
				   customRaisedButton
				   (click)="onClickToLink(breakPointForXSmall?.matches! || breakPointForMw850?.matches!)"
				   [routerLink]="item.redirectTo"
				   [routerLinkActiveOptions]="{exact: item.redirectTo === ''}"
				   [routerLinkActive]="'active'"
				   matRipple>
					<ngx-icon [name]="item.icon"></ngx-icon>
					
					@if (isOpenedSidebar || breakPointForXSmall?.matches) {
						<span class="route-name"
						      [@frameSideIn5]>{{ item.name }}</span>
					}
				</a>
			}
		</div>
	</div>
	
	<div class="footer">
		<a [routerLinkActiveOptions]="{exact: true}"
		   [routerLinkActive]="'active'"
		   [routerLink]="'/interface/my-profile'"
		   (click)="onClickToLink(breakPointForXSmall?.matches! || breakPointForMw850?.matches!)"
		   customRaisedButton
		>
			<ngx-icon [name]="'settings'"></ngx-icon>
			@if (isOpenedSidebar) {
				<span class="text"
				      [@frameSideIn5]>Profile</span>
			}
		</a>
		
		@if (isOpenedSidebar || breakPointForXSmall?.matches ) {
			<a (click)="onLogout()"
			   [@frameSideIn5]
			   customRaisedButton>
				<ngx-icon [name]="'logout'"></ngx-icon>
				<span class="text">Sign Out</span>
			</a>
		}
		
		@if(breakPointForXSmall?.matches){
			<ng-container [ngTemplateOutlet]="sidebarHandler"
			[ngTemplateOutletContext]="{stickyTo: 'footer'}"
			></ng-container>
		}
	</div>
</aside>


<ng-template #sidebarHandler let-stickyTo="stickyTo">
	<button class="handler-sidebar-button"
	        [ngClass]="stickyTo ? 'handler-sidebar-button-in-footer' : ''"
	        (click)="onHandleSidebarState(isOpenedSidebar!)"
	        customBasicButton
	        matRipple>
		
		<div class="arrow-icon"
		     [ngClass]="isOpenedSidebar ? 'rotate-arrow-icon' : ''">
			<ngx-icon [name]="'alt-arrow-right'"
			          [ratio]="'1.5em'"></ngx-icon>
		</div>
	</button>
</ng-template>
