:host {
	display: flex;
	position: sticky;
	top: 0;
	
	flex-direction: column;
	
	min-width: 55px;
	max-width: 55px;
	height: 100dvh;
	color: var(--text-color);
	
	background-color: var(--white);
	box-shadow: var(--box-shadow-items);
	--box-shadow-items: rgba(60, 60, 60, 0.12) 0px 2px 10px;
	
	--border-color: color-mix(in srgb, var(--color-palette-7) 15%, transparent);
	--border-size: thin;
	
	.handler-sidebar-button {
		position: absolute;
		padding: .6rem;
		right: 0;
		bottom: 0;
		transform: translate(50%, 50%);
		border-radius: 10px;
		aspect-ratio: 1/1;
	}
	
	.footer {
		z-index: 10;
		box-sizing: border-box;
		min-height: calc(var(--header-height) - 10px);
		max-height: calc(var(--header-height) - 10px);
	}
	
	.footer {
		display: flex;
		padding: 0;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		border-top: var(--border-size) solid var(--border-color);
		
		a:first-child {
			position: relative;
			
			&::after {
				position: absolute;
				top: 50%;
				right: 0;
				
				height: 50%;
				
				content: "";
				transform: translateY(-50%);
				border-right: var(--border-size) solid var(--border-color);
			}
		}
		
		a {
			font-size: 1em;
			flex: 1 1;
			
			height: 100%;
			border-radius: 0;
			background-color: unset;
			box-shadow: unset;
			
			.text {
				font-size: .8em;
			}
		}
		
		a {
			&.active {
				color: var(--white);
				background-color: var(--color-palette-3);
				
				.solar-outline {
					--ngx-icon-override-color-1: var(--white);
				}
				
				&:hover {
					background-color: color-mix(in srgb, transparent, var(--color-palette-3) 80%);
				}
			}
			
			&:hover {
				background-color: var(--gray-2);
			}
		}
	}
	
	.header {
		display: flex;
		position: relative;
		
		padding: 0 .5rem;
		line-height: 1.2em;
		z-index: 10;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		// max-height: calc(var(--header-height) - 14px);
		box-sizing: border-box;
		min-height: calc(var(--header-height) - 18px);
		max-height: calc(2.4em + 1em * 2);
		border-bottom: var(--border-size) solid var(--border-color);
		
		.full-view-container-header {
			display: flex;
			padding: 1rem 0;
			overflow: hidden;
			align-items: center;
			flex: 0 0;
			flex-direction: column;
			justify-content: center;
			box-sizing: border-box;
			gap: .5rem;
		}
		
		.short-view-container-header {
			display: flex;
			align-items: center;
			flex: 1 1 auto;
			justify-content: center;
			box-sizing: border-box;
			width: 0;
		}
		
		.title {
			white-space: nowrap;
			
			.solar-outline {
				--ngx-icon-override-color-1: color-mix(in srgb, var(--text-color) 40%, transparent);
			}
		}
		
		.company-name {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			
			white-space: nowrap;
			color: color-mix(in srgb, var(--text-color) 40%, transparent);
			
			h3 {
				display: -webkit-box;
				margin: 0;
				font-size: .75em;
				font-weight: 500;
				line-height: 1.1em;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
			}
		}
		
		.sidebar-title {
			display: -webkit-box;
			margin: 0;
			
			font-size: 1em;
			font-weight: 500;
			line-height: 1.1em;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
		}
	}
	
	.body {
		display: flex;
		z-index: 9;
		overflow-x: hidden;
		overflow-y: auto;
		
		flex: 1 1;
		box-sizing: border-box;
		padding-block: 1rem;
		
		a {
			&.active {
				color: var(--white);
				background-color: var(--color-palette-3);
				
				.solar-outline {
					--ngx-icon-override-color-1: var(--white);
				}
				
				&:hover {
					background-color: color-mix(in srgb, transparent, var(--color-palette-3) 80%);
				}
			}
			
			&:hover {
				background-color: var(--gray-2);
			}
		}
	}
	
	.scrollable-container {
		margin: auto;
		flex: 1 1;
		width: 100%;
		
		
		.nav-link-content:first-child {
			border-top: 1px solid var(--border-color);
		}
		
		.nav-link-content {
			padding: 1.1rem 0;
			box-sizing: border-box;
			color: var(--color);
			border-bottom: 1px solid var(--border-color);
			border-radius: 0;
			background-color: transparent;
			box-shadow: unset;
			
			gap: .5rem;
			
			--color: color-mix(in srgb, var(--text-color) 80%, transparent);
			
			.solar-outline {
				--ngx-icon-override-color-1: var(--color);
			}
		}
		
		.route-name {
			font-size: .9em;
			font-weight: 500;
			overflow: hidden;
			flex: 1 1;
			width: 0;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
	
	.arrow-icon {
		transition: transform .2s ease;
		will-change: transform;
	}
	
	.rotate-arrow-icon {
		transform: rotateY(-180deg);
	}
}

:host.sidebar-is-opened {
	min-width: 300px;
	max-width: 300px;
	
	.nav-link-content {
		padding: 1rem 2rem !important;
	}
	
	.company-name {
		white-space: unset !important;
	}
	
	.full-view-container-header {
		overflow: hidden;
		flex: 1 1 auto !important;
		gap: .5rem;
	}
	
	.short-view-container-header {
		flex: 0 0 !important;
		width: 0;
	}
}

:host.closed-sidebar {
	background-color: red !important;
}
