@use '@angular/material' as mat;

:host {
	display: flex;
	justify-content: space-between !important;
	position: relative;
	
	flex: 1 1;
	flex-direction: column;
	
	.distributor-name{
		color: color-mix(in srgb, transparent, var(--text-color) 30%) !important;
		font-size: .7em !important;
	}
	
	
	.desc-for-title{
		font-size: .8em;
		color: color-mix(in srgb, transparent, var(--text-color) 50%) !important;
	}
}
