@let seedDataContent = seedData$ | async;

<div class="cert-data">
	<div class="text-container">
		<ngx-icon [name]="'forward-2'"></ngx-icon>
		<span class="text-block">
			Culture name –
				<span class="font-bold little-red-color">{{ seedDataContent?.Name }}
		</span>
		</span>
	</div>
	
	<div class="text-container">
		<ngx-icon [name]="'forward-2'"></ngx-icon>
		<span class="text-block">
			Culture name (Latin) –
				<span class="font-bold little-red-color">{{ seedDataContent?.ScientificName }}
		</span>
		</span>
	</div>
	
	<div class="text-container">
		<ngx-icon [name]="'forward-2'"></ngx-icon>
		<span class="text-block">
			Sort –
				<span class="font-bold little-red-color">{{ seedDataContent?.Variety }}
		</span>
		</span>
	</div>
	
	<div class="text-container">
		<ngx-icon [name]="'forward-2'"></ngx-icon>
		<span class="text-block">
			Seed type –
				<span class="font-bold little-red-color">{{ seedDataContent?.SeedType }}
		</span>
		</span>
	</div>
	
	<div class="text-container">
		<ngx-icon [name]="'forward-2'"></ngx-icon>
		<span class="text-block">
			Batch number –
				<span class="font-bold little-red-color">{{ seedDataContent?.BatchNumber }}
		</span>
		</span>
	</div>
	
	<div class="text-container">
		<ngx-icon [name]="'forward-2'"></ngx-icon>
		<span class="text-block">
			Date of manufacture –
				<span class="font-bold little-red-color">{{ seedDataContent?.HarvestDate | datetime | date: 'dd.MM.yyyy HH:mm' }}
		</span>
		</span>
	</div>
	
	<div class="text-container">
		<ngx-icon [name]="'forward-2'"></ngx-icon>
		<span class="text-block">
			Expiration date –
				<span class="font-bold little-red-color">{{ seedDataContent?.ExpiryDate | datetime | date: 'dd.MM.yyyy HH:mm' }}
		</span>
		</span>
	</div>
	
	<div class="text-container">
		<ngx-icon [name]="'forward-2'"></ngx-icon>
		<span class="text-block">
			Storage conditions –
				<span class="font-bold little-red-color">{{ seedDataContent?.StorageConditions  }}
		</span>
		</span>
	</div>
	
	<div class="text-container">
		<ngx-icon [name]="'forward-2'"></ngx-icon>
		<span class="text-block">
			Weight of 1 thousand seeds (in grams) –
				<span class="font-bold little-red-color">{{ seedDataContent?.AverageWeightThousandSeeds  }}
		</span>
		</span>
	</div>
	
	<div class="text-container">
		<ngx-icon [name]="'forward-2'"></ngx-icon>
		<span class="text-block">
			Seed treatment –
				<span class="font-bold little-red-color">
					{{
						onFindTreatmentType(seedDataContent?.TreatmentType!)?.name
					}}
		</span>
		</span>
	</div>
</div>

<span class="font-bold little-red-color">Certify the information provided?</span>
