:host {
	display: flex;
	padding: 1rem;
	align-items: center;
	
	flex: 1 1;
	
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	text-align: center;
	
	gap: .5rem;
	--color: color-mix(in srgb, var(--text-color) 80%, transparent);
	
	.info.solar-outline {
		--ngx-icon-override-color-1: var(--color);
	}
	
	h3 {
		margin: .5rem;
		font-size: 1em;
		white-space: pre-line;
		line-height: 1.3em;
		color: var(--color);
	}
	
	.controls {
		flex-wrap: wrap;
		gap: 1rem;
		
		a, button {
			padding: .7rem 1.3rem;
		}
	}
}
